Repository DmitriyBrewer/CodersForceGame: changes, and which lefthook commands are due for each by the changed paths.
All: lint:eslint, lint:stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:eslint:
      glob: '*.{ts,tsx}'
      run: yarn lint:eslint
    lint:stylelint:
      glob: '*.{css,module.scss}'
      run: yarn lint:stylelint
    test:
      run: yarn test

add api leaderboard
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/game/index.spec.ts
  packages/client/src/entities/game/index.ts
  packages/client/src/entities/leaderboard/model/index.ts
  packages/client/src/entities/leaderboard/model/selector.ts
  packages/client/src/entities/user/model/index.ts
  packages/client/src/entities/user/model/selector.ts
  packages/client/src/feature/leaderbord/hooks/useLeaderboard.ts
  packages/client/src/feature/leaderbord/leaderboardApi.ts
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/types.ts
  packages/client/src/widgets/leaderboard/ui/LeaderBoardWidget/LeaderBoardWidget.tsx
Due: lint:eslint

fix comment
  packages/client/src/entities/game/index.ts
Due: lint:eslint

Доработка меню
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/game/index.ts
  packages/client/src/feature/game/game-engine/hooks/useGame.tsx
  packages/client/src/feature/game/game-engine/ui/GameMenu/GameMenu.tsx
Due: lint:eslint

Доработка паузы
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/game/index.ts
  packages/client/src/feature/game/game-engine/hooks/useGame.tsx
Due: lint:eslint

Настройка роутера под ssr
  packages/client/src/app/app-routes/AppRoutes.tsx
  packages/client/src/assets/images/ambulance.png
  packages/client/src/assets/images/car.png
  packages/client/src/assets/images/explosion.png
  packages/client/src/assets/images/player.png
  packages/client/src/assets/images/police.png
  packages/client/src/assets/images/road.png
  packages/client/src/assets/images/taxi.png
  packages/client/src/entities/game/index.ts
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/layouts/core-layout/ui/CoreLayout/CoreLayout.tsx
  packages/client/src/shared/config/routing.ts
  packages/server/index.ts
Due: lint:eslint

error handling added
  packages/client/src/feature/session/api/oAuthApi.ts
  packages/client/src/feature/session/o-auth/hooks/useOAuth.tsx
Due: lint:eslint

fixed error test
  packages/client/src/feature/session/api/oAuthApi.ts
Due: lint:eslint

set user after avatar change was added
  packages/client/src/feature/profile/hooks/useProfileAvatar.ts
Due: lint:eslint

Настройка роутера под ssr
  packages/client/src/entry-client.tsx
Due: lint:eslint

Настройка роутера под ssr
  packages/client/src/entry-server.tsx
Due: lint:eslint

removed model
  packages/client/src/entities/profile/model/index.ts
Due: lint:eslint

test
  package.json
  packages/server/tsconfig.prod.json
Due: none

themeSwitcher was added
  packages/client/src/feature/profile/ui/ProfileFeature/ProfileFeature.tsx
  packages/client/src/feature/profile/ui/ProfileHeader/ProfileHeader.module.scss
  packages/client/src/feature/profile/ui/ProfileHeader/ProfileHeader.tsx
  packages/client/src/feature/profile/ui/ProfileHeader/index.ts
  packages/client/src/shared/components/core/ThemeSwitcherButton/ThemeSwitcherButton.tsx
  packages/client/src/shared/components/core/ThemeSwitcherButton/index.ts
  packages/client/src/shared/components/icons/iconsMui.ts
  packages/client/src/shared/context/theme-provider/ThemeProvider.tsx
  packages/client/src/shared/styleMui/index.ts
Due: lint:eslint, lint:stylelint

Настройка redux на ssr
  packages/client/package.json
  packages/client/src/entities/user/model/index.ts
  packages/client/src/entry-server.tsx
  packages/client/src/pages/profile/ui/index.tsx
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/types/index.ts
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: lint:eslint

feature/cfg-95
  Dockerfile.client
  Dockerfile.server
  package.json
  packages/server/tsconfig.json
  packages/server/tsconfig.prod.json
Due: none

feature/cfg-95
  Dockerfile.server
Due: none

add apiforum
  packages/client/src/entities/topic/model/index.ts
  packages/client/src/feature/social/forum/api/forumApi.ts
  packages/client/src/feature/social/forum/hooks/useForum.ts
  packages/server/index.ts
  packages/server/routes/comments.ts
  packages/server/routes/topics.ts
Due: lint:eslint

feature/cfg-95
  Dockerfile.client
  Dockerfile.server
Due: none

other
  Dockerfile.client
  Dockerfile.server
Due: none

add forumapi and routes
  packages/client/src/entities/topic/model/index.ts
  packages/client/src/feature/social/forum/api/forumApi.ts
  packages/client/src/feature/social/forum/hooks/useForum.ts
  packages/server/index.ts
  packages/server/routes/comments.ts
  packages/server/routes/topics.ts
Due: lint:eslint

fix imports
  packages/client/src/entities/game/index.ts
Due: lint:eslint

condition for localStorage was added
  packages/client/src/shared/context/theme-provider/ThemeProvider.tsx
  packages/client/src/shared/utils/isBrowser.ts
Due: lint:eslint

fixed user selector
  packages/client/src/feature/profile/ui/ProfileFeature/ProfileFeature.tsx
  packages/client/src/feature/profile/ui/ProfileHeader/ProfileHeader.tsx
Due: lint:eslint

feature/cfg-95
  packages/server/index.ts
Due: lint:eslint

fix
  packages/server/index.ts
Due: lint:eslint

fix other
  packages/server/index.ts
Due: lint:eslint

add all fuctional
  packages/client/package.json
  packages/client/src/entities/comment/model/index.ts
  packages/client/src/entities/comment/model/selector.ts
  packages/client/src/entities/comment/types/index.ts
  packages/client/src/entities/message/model/index.ts
  packages/client/src/entities/message/model/selector.ts
  packages/client/src/entities/message/types/index.ts
  packages/client/src/entities/topic/model/index.ts
  packages/client/src/entities/topic/model/selector.ts
  packages/client/src/entities/user/model/selector.ts
  packages/client/src/feature/social/forum/api/forumApi.ts
  packages/client/src/feature/social/forum/hooks/useComment.tsx
  packages/client/src/feature/social/forum/hooks/useForum.ts
  packages/client/src/feature/social/forum/hooks/useMessage.tsx
  packages/client/src/feature/social/forum/index.ts
  packages/client/src/feature/social/forum/ui/AddComment/AddComment.module.scss
  packages/client/src/feature/social/forum/ui/AddComment/AddComment.tsx
  packages/client/src/feature/social/forum/ui/AddComment/index.ts
  packages/client/src/feature/social/forum/ui/AddMessage/index.ts
  packages/client/src/feature/social/forum/ui/CommentList/CommentList.module.scss
  packages/client/src/feature/social/forum/ui/CommentList/CommentList.tsx
  packages/client/src/feature/social/forum/ui/CommentList/index.ts
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/CreateTopicDialog.spec.tsx
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/CreateTopicDialog.tsx
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/index.ts
  packages/client/src/feature/social/forum/ui/MessageList/index.ts
  packages/client/src/shared/config/routing.ts
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/types.ts
  packages/client/src/widgets/social/forum-topic/ui/ForumTopicWidget.tsx
  packages/client/src/widgets/social/forum/ui/TopicList/TopicList.tsx
  packages/server/index.ts
  packages/server/routes/comments.ts
  packages/server/routes/topics.ts
  yarn.lock
Due: lint:eslint, lint:stylelint

merge develop
  packages/client/package.json
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/game/index.spec.ts
  packages/client/src/entities/game/index.ts
  packages/client/src/entities/leaderboard/model/index.ts
  packages/client/src/entities/leaderboard/model/selector.ts
  packages/client/src/entities/topic/types/index.ts
  packages/client/src/entities/user/model/index.ts
  packages/client/src/entities/user/model/selector.ts
  packages/client/src/feature/game/game-engine/hooks/useGame.tsx
  packages/client/src/feature/game/game-engine/ui/GameMenu/GameMenu.tsx
  packages/client/src/feature/leaderbord/hooks/useLeaderboard.ts
  packages/client/src/feature/leaderbord/leaderboardApi.ts
  packages/client/src/feature/profile/api/profileApi.ts
  packages/client/src/feature/profile/hooks/useProfile.ts
  packages/client/src/feature/profile/hooks/useProfileAvatar.ts
  packages/client/src/feature/profile/hooks/useProfilePassword.ts
  packages/client/src/feature/profile/ui/ProfileAvatarForm/ProfileAvatarForm.tsx
  packages/client/src/feature/profile/ui/ProfileFeature/ProfileFeature.tsx
  packages/client/src/feature/profile/ui/ProfileFields/ProfileFields.tsx
  packages/client/src/feature/profile/ui/ProfileHeader/ProfileHeader.module.scss
  packages/client/src/feature/profile/ui/ProfileHeader/ProfileHeader.tsx
  packages/client/src/feature/profile/ui/ProfileHeader/index.ts
  packages/client/src/feature/social/forum/api/forumApi.ts
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/CreateTopicDialog.tsx
  packages/client/src/shared/api/fetchInstance.ts
  packages/client/src/shared/api/types/index.ts
  packages/client/src/shared/components/core/ThemeSwitcherButton/ThemeSwitcherButton.tsx
  packages/client/src/shared/components/core/ThemeSwitcherButton/index.ts
  packages/client/src/shared/components/icons/iconsMui.ts
  packages/client/src/shared/context/theme-provider/ThemeProvider.tsx
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/types.ts
  packages/client/src/shared/styleMui/index.ts
  packages/client/src/shared/types/index.ts
  packages/client/src/shared/utils/isBrowser.ts
  packages/client/src/widgets/leaderboard/ui/LeaderBoardWidget/LeaderBoardWidget.tsx
  packages/client/src/widgets/social/forum/ui/TopicList/TopicList.tsx
  yarn.lock
Due: lint:eslint, lint:stylelint

icon was added
  packages/client/index.html
  packages/client/public/icon.png
Due: none

page title was added
  packages/client/package.json
  packages/client/src/pages/game/game-engine/ui/index.tsx
  packages/client/src/pages/index.tsx
  packages/client/src/pages/leaderboard/ui/index.tsx
  packages/client/src/pages/profile/ui/index.tsx
  packages/client/src/pages/session/login/ui/index.tsx
  packages/client/src/pages/session/register/ui/index.tsx
  packages/client/src/pages/social/forum-topic/ui/index.tsx
  packages/client/src/pages/social/forum/ui/index.tsx
  packages/client/src/widgets/error/error-page-widget/ui/ErrorPageWidget/ErrorPageWidget.tsx
  yarn.lock
Due: lint:eslint

old icon was removed
  packages/client/public/vite.svg
Due: none

MEMORYLEAKS.md was added
  MEMORYLEAKS.md
Due: none

fix console
  packages/server/index.ts
Due: lint:eslint

fixloader
  packages/client/src/app/router/PrivateRouter/PrivateRoute.tsx
  packages/client/src/app/router/PublicRouter/PublicRoute.tsx
  packages/client/src/app/router/SessionRoute/SessionRoute.tsx
  packages/client/src/layouts/core-layout/ui/CoreLayout/CoreLayout.tsx
Due: lint:eslint

port was changed
  packages/client/src/shared/api/constant/index.ts
  packages/server/index.ts
Due: lint:eslint

Эмодзи (клиентская часть)
  .eslintrc.js
  packages/client/package.json
  packages/client/src/app/styles/global.module.scss
  packages/client/src/feature/social/forum/ui/CommentList/CommentList.module.scss
  packages/client/src/feature/social/forum/ui/CommentList/CommentList.tsx
  packages/client/src/feature/social/forum/ui/EmojiDisplay/EmojiDisplay.module.scss
  packages/client/src/feature/social/forum/ui/EmojiDisplay/EmojiDisplay.tsx
  packages/client/src/feature/social/forum/ui/EmojiDisplay/index.ts
  packages/client/src/feature/social/forum/ui/EmojiSelector/EmojiSelector.module.scss
  packages/client/src/feature/social/forum/ui/EmojiSelector/EmojiSelector.tsx
  packages/client/src/feature/social/forum/ui/EmojiSelector/index.ts
  yarn.lock
Due: lint:eslint, lint:stylelint

Эмодзи (клиентская часть)
  packages/client/src/feature/social/forum/ui/CommentList/CommentList.module.scss
  packages/client/src/feature/social/forum/ui/EmojiDisplay/EmojiDisplay.module.scss
Due: lint:stylelint

fix loading
  doc/doc-filelist.js
  doc/doc-script.js
  doc/doc-style.css
  packages/client/src/app/router/PrivateRouter/PrivateRoute.tsx
  packages/client/src/entities/user/model/index.ts
  packages/client/src/feature/social/forum/api/forumApi.ts
Due: lint:eslint, lint:stylelint
