Repository DmitriyBrewer/CodersForceGame: changes, and which lefthook commands are due for each by the changed paths.
All: lint:eslint, lint:stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:eslint:
      glob: '*.{ts,tsx}'
      run: yarn lint:eslint
    lint:stylelint:
      glob: '*.{css,module.scss}'
      run: yarn lint:stylelint
    test:
      run: yarn test

update component
  packages/client/src/entities/game/ui/GameEntities/GameEntities.module.scss
Due: lint:stylelint

addd icon
  packages/client/src/feature/game/game-engine/ui/EndGame/EndGame.tsx
  packages/client/src/shared/components/icons/iconsMui.ts
Due: lint:eslint

add pause flag
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/game/ui/GameEntities/GameEntities.tsx
  packages/client/src/feature/game/game-engine/hooks/useStartGame.tsx
  packages/client/src/feature/game/game-engine/ui/EndGame/EndGame.tsx
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.tsx
Due: lint:eslint

rename error
  packages/client/src/entities/user/model/index.ts
  packages/client/src/entities/user/model/selector.ts
Due: lint:eslint

add features
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/feature/forum/ui/CreateTopic/CreateTopic.tsx
  packages/client/src/feature/forum/ui/CreateTopic/index.ts
  packages/client/src/feature/forum/ui/CreateTopicDialog/CreateTopicDialog.module.scss
  packages/client/src/feature/forum/ui/CreateTopicDialog/CreateTopicDialog.tsx
  packages/client/src/feature/forum/ui/CreateTopicDialog/index.ts
  packages/client/src/feature/forum/ui/TopicDetail/TopicDetail.module.scss
  packages/client/src/feature/forum/ui/TopicDetail/TopicDetail.tsx
  packages/client/src/feature/forum/ui/TopicDetail/index.ts
  packages/client/src/feature/forum/ui/TopicsList/TopicList.module.scss
  packages/client/src/feature/forum/ui/TopicsList/TopicList.tsx
  packages/client/src/pages/404.tsx
  packages/client/src/pages/forumTopic/index.ts
  packages/client/src/pages/forumTopic/ui/index.tsx
  packages/client/src/shared/components/ui/BaseListItemButton/BaseListItem.tsx
  packages/client/src/shared/components/ui/BaseListItemButton/index.ts
Due: lint:eslint, lint:stylelint

add FSD
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/feature/forum/index.ts
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.module.scss
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.tsx
  packages/client/src/feature/forum/ui/CreateTopicDialog/CreateTopicDialog.tsx
  packages/client/src/pages/TopicDetailPage/index.ts
  packages/client/src/pages/TopicDetailPage/ui/TopicDetailPage.tsx
  packages/client/src/pages/TopicListPage/index.ts
  packages/client/src/pages/TopicListPage/ui/TopicListPage.module.scss
  packages/client/src/pages/TopicListPage/ui/TopicListPage.tsx
  packages/client/src/pages/forum/index.ts
  packages/client/src/pages/forum/ui/index.tsx
  packages/client/src/pages/forumTopic/index.ts
  packages/client/src/pages/forumTopic/ui/index.tsx
  packages/client/src/shared/config/routing.ts
  packages/client/src/widgets/forum/index.ts
  packages/client/src/widgets/forum/ui/AddTopicButton/AddTopicButton.module.scss
  packages/client/src/widgets/forum/ui/AddTopicButton/AddTopicButton.tsx
  packages/client/src/widgets/forum/ui/MessageList/MessageList.module.scss
  packages/client/src/widgets/forum/ui/MessageList/MessageList.tsx
  packages/client/src/widgets/forum/ui/TopicList/TopicList.module.scss
  packages/client/src/widgets/forum/ui/TopicList/TopicList.tsx
Due: lint:eslint, lint:stylelint

deleted old components
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.module.scss
  packages/client/src/feature/forum/ui/ForumFeature/ForumFeature.tsx
  packages/client/src/feature/forum/ui/ForumFeature/index.ts
  packages/client/src/feature/forum/ui/TopicDetail/TopicDetail.module.scss
  packages/client/src/feature/forum/ui/TopicDetail/TopicDetail.tsx
  packages/client/src/feature/forum/ui/TopicDetail/index.ts
  packages/client/src/feature/forum/ui/TopicsList/TopicList.module.scss
  packages/client/src/feature/forum/ui/TopicsList/TopicList.tsx
  packages/client/src/feature/forum/ui/TopicsList/index.ts
  packages/client/src/pages/404.tsx
  packages/client/src/pages/TopicListPage/ui/TopicListPage.module.scss
  packages/client/src/widgets/forum/ui/AddTopicButton/AddTopicButton.module.scss
  packages/client/src/widgets/forum/ui/MessageList/MessageList.module.scss
  packages/client/src/widgets/forum/ui/TopicList/TopicList.module.scss
Due: lint:eslint, lint:stylelint

Описание сценария игры и игровых механик
  docs/README.md
  docs/scenario.md
Due: none

update type
  packages/client/src/entities/user/model/index.ts
  packages/client/src/entities/user/types/index.ts
Due: lint:eslint

other fix
  packages/client/src/entities/user/model/index.ts
Due: lint:eslint

add reselect
  packages/client/package.json
  packages/client/src/app/router/PrivateRoute.tsx
  packages/client/src/entities/user/model/selector.ts
  yarn.lock
Due: lint:eslint

изменен путь к профайлу
  packages/client/src/app/router/AppRouter.tsx
Due: lint:eslint

add pause
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
Due: lint:eslint

fix styles
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.module.scss
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.tsx
  packages/client/src/feature/forum/ui/CreateTopicDialog/CreateTopicDialog.module.scss
  packages/client/src/feature/forum/ui/CreateTopicDialog/CreateTopicDialog.tsx
  packages/client/src/widgets/forum/ui/MessageList/MessageList.module.scss
  packages/client/src/widgets/forum/ui/MessageList/MessageList.tsx
Due: lint:eslint, lint:stylelint

os scheme watcher was added
  packages/client/src/shared/context/ThemeProvider.tsx
  packages/client/src/themes.ts
Due: lint:eslint

restart
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/game/ui/GameEntities/GameEntities.tsx
  packages/client/src/feature/game/game-engine/hooks/useStartGame.tsx
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.tsx
Due: lint:eslint

other
  packages/client/src/feature/game/game-engine/ui/EndGame/EndGame.tsx
Due: lint:eslint

add logic
  packages/client/src/widgets/forum/ui/MessageList/MessageList.tsx
  packages/client/src/widgets/forum/ui/TopicList/TopicList.tsx
Due: lint:eslint

update component
  packages/client/src/feature/game/game-engine/hooks/useStartGame.tsx
  packages/client/src/feature/game/game-engine/ui/EndGame/index.ts
  packages/client/src/feature/game/game-engine/ui/EndGameButton/EndGameButton.tsx
  packages/client/src/feature/game/game-engine/ui/EndGameButton/index.ts
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.tsx
  packages/client/src/feature/game/game-engine/ui/GameLeaderboardButton/GameLeaderboardButton.module.scss
  packages/client/src/feature/game/game-engine/ui/GameLeaderboardButton/GameLeaderboardButton.tsx
  packages/client/src/feature/game/game-engine/ui/GameLeaderboardButton/index.ts
  packages/client/src/feature/game/game-engine/ui/GameMenu/GameMenu.module.scss
  packages/client/src/feature/game/game-engine/ui/GameMenu/GameMenu.tsx
  packages/client/src/feature/game/game-engine/ui/GameMenu/index.ts
  packages/client/src/feature/game/game-engine/ui/GameRestartButton/GameRestartButton.tsx
  packages/client/src/feature/game/game-engine/ui/GameRestartButton/index.ts
Due: lint:eslint, lint:stylelint

profileWidget was added
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/pages/profile/ui/index.tsx
  packages/client/src/shared/config/routing.ts
  packages/client/src/widgets/profileWidget/ui/ProfileWidget.tsx
  packages/client/src/widgets/profileWidget/ui/index.ts
Due: lint:eslint

color was returned after tests
  packages/client/src/themes.ts
Due: lint:eslint

update component
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/game/ui/GameEntities/GameEntities.tsx
  packages/client/src/feature/game/game-engine/hooks/useStartGame.tsx
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.tsx
  packages/client/src/feature/game/game-engine/ui/GameMenu/GameMenu.tsx
Due: lint:eslint

update component
  packages/client/src/feature/game/game-engine/hooks/useGame.tsx
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.tsx
Due: lint:eslint

update component
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
Due: lint:eslint

fix
  packages/client/src/feature/game/game-engine/hooks/useGame.tsx
Due: lint:eslint

leaderboard to widget
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/pages/Leaderboard/ui/index.tsx
  packages/client/src/widgets/leaderboard/index.ts
  packages/client/src/widgets/leaderboard/ui/LeaderBoardWidget/LeaderBoardWidget.tsx
  packages/client/src/widgets/leaderboard/ui/LeaderBoardWidget/index.ts
  packages/client/src/widgets/leaderboard/ui/index.ts
Due: lint:eslint

Правка механик сценария
  docs/scenario.md
Due: none

Разделители
  docs/scenario.md
Due: none

update error 500
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/pages/error/Error500/index.ts
  packages/client/src/pages/error/error-500/index.ts
  packages/client/src/pages/error/error-500/ui/Error500Page/Error500Page.tsx
  packages/client/src/pages/error/error-500/ui/Error500Page/index.ts
  packages/client/src/pages/error/error-500/ui/index.ts
  packages/client/src/widgets/error/error-page-widget/index.ts
  packages/client/src/widgets/error/error-page-widget/ui/ErrorPageWidget/ErrorPageWidget.module.scss
  packages/client/src/widgets/error/error-page-widget/ui/ErrorPageWidget/ErrorPageWidget.tsx
  packages/client/src/widgets/error/error-page-widget/ui/ErrorPageWidget/index.ts
  packages/client/src/widgets/error/error-page-widget/ui/index.ts
  packages/client/src/widgets/errorPageWidget/index.ts
Due: lint:eslint, lint:stylelint

Правка идеи
  docs/scenario.md
Due: none

fix import
  packages/client/src/widgets/error/error-page-widget/index.ts
Due: lint:eslint

add redux
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/entities/message/model/index.ts
  packages/client/src/entities/message/model/selector.ts
  packages/client/src/entities/message/types/index.ts
  packages/client/src/entities/topic/model/index.ts
  packages/client/src/entities/topic/model/selector.ts
  packages/client/src/entities/topic/types/index.ts
  packages/client/src/entities/user/model/index.ts
  packages/client/src/feature/forum/hooks/index.ts
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.module.scss
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.tsx
  packages/client/src/pages/Forum/index.ts
  packages/client/src/pages/Forum/ui/ForumPage.module.scss
  packages/client/src/pages/Forum/ui/ForumPage.tsx
  packages/client/src/pages/ForumTopicPage/index.ts
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/pages/TopicDetailPage/index.ts
  packages/client/src/pages/TopicDetailPage/ui/TopicDetailPage.tsx
  packages/client/src/pages/TopicListPage/index.ts
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/types.ts
  packages/client/src/widgets/forum/ui/MessageList/MessageList.tsx
  packages/client/src/widgets/forum/ui/TopicList/TopicList.tsx
Due: lint:eslint, lint:stylelint

fix
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/pages/Leaderboard/index.ts
Due: lint:eslint

add formatDate helper
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.module.scss
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.tsx
  packages/client/src/pages/404.tsx
  packages/client/src/shared/helpers/formatISODate.ts
Due: lint:eslint, lint:stylelint

other fix
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/pages/Leaderboard/index.ts
Due: lint:eslint

deleted old 404
  packages/client/src/pages/404.tsx
  packages/client/src/shared/context/error-boundary/ErrorBoundary.tsx
Due: lint:eslint

other fix
  packages/client/src/feature/game/game-engine/ui/GameLeaderboardButton/GameLeaderboardButton.tsx
  packages/client/src/pages/error/error-404/index.ts
  packages/client/src/shared/context/error-boundary/ErrorBoundary.tsx
Due: lint:eslint

other
  packages/client/src/pages/leader-board/index.ts
  packages/client/src/pages/leader-board/ui/index.tsx
Due: lint:eslint

other
  packages/client/src/app/router/AppRouter.tsx
Due: lint:eslint

update component
  packages/client/src/entities/user/model/index.ts
  packages/client/src/feature/game/game-engine/ui/GameLeaderboardButton/GameLeaderboardButton.module.scss
  packages/client/src/feature/game/game-engine/ui/GameLeaderboardButton/GameLeaderboardButton.tsx
Due: lint:eslint, lint:stylelint
