Repository DmitriyBrewer/CodersForceGame: changes, and which lefthook commands are due for each by the changed paths.
All: lint:eslint, lint:stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:eslint:
      glob: '*.{ts,tsx}'
      run: yarn lint:eslint
    lint:stylelint:
      glob: '*.{css,module.scss}'
      run: yarn lint:stylelint
    test:
      run: yarn test

uuid was added
  packages/client/package.json
  yarn.lock
Due: none

other
  packages/client/src/app/styles/global.module.scss
Due: lint:stylelint

leaderboard страница добавлена
  packages/client/src/pages/Leaderboard.tsx
  packages/client/src/pages/Leaderboard/LeaderBoard.tsx
  packages/client/src/pages/Leaderboard/index.ts
Due: lint:eslint

добавлен компонент BaseTable
  packages/client/src/shared/components/ui/BaseTable/BaseTable.tsx
  packages/client/src/shared/components/ui/BaseTable/index.ts
Due: lint:eslint

исправлены предупреждения
  packages/client/src/pages/Leaderboard/LeaderBoard.tsx
  packages/client/src/shared/components/ui/BaseTable/BaseTable.tsx
Due: lint:eslint

удалил ErrorBoundary; добавил main и BaseContainer
  packages/client/src/layouts/BaseLayout/BaseLayout.tsx
Due: lint:eslint

удалил BaseContainer из layout
  packages/client/src/layouts/BaseLayout/BaseLayout.tsx
Due: lint:eslint

добавил BaseContainer
  packages/client/src/pages/Leaderboard/LeaderBoard.tsx
Due: lint:eslint

other
  packages/client/src/feature/game/game-engine/ui/EndGame/EndGame.tsx
Due: lint:eslint

delete other
  packages/client/src/pages/game/index.tsx
  packages/client/src/pages/game/ui/index.tsx
Due: lint:eslint

Переименована папка
  packages/client/src/pages/error/Error500/Error500.tsx
  packages/client/src/widgets/error/index.ts
  packages/client/src/widgets/errorPage/index.ts
Due: lint:eslint

Вынесены стили
  packages/client/src/app/styles/global.module.scss
  packages/client/src/widgets/errorPage/ErrorPage.module.scss
  packages/client/src/widgets/errorPage/ErrorPage.tsx
Due: lint:eslint, lint:stylelint

fix comments
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/app/styles/global.module.scss
  packages/client/src/shared/components/ui/BaseModalWindow/ui/BaseModalWindow.module.scss
  packages/client/src/shared/components/ui/BaseModalWindow/ui/BaseModalWindow.tsx
Due: lint:eslint, lint:stylelint

Правки ревью
  packages/client/src/app/styles/global.module.scss
  packages/client/src/assets/images/login-background.png
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.module.scss
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.tsx
  packages/client/src/feature/session/login/ui/LoginHeader/LoginHeader.tsx
  packages/client/src/themes.ts
  packages/client/src/widgets/session/login/ui/LoginWidget/LoginWidget.module.scss
Due: lint:eslint, lint:stylelint

feature/cfg-61
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/pages/TestPage.tsx
  packages/client/src/shared/config/routing.ts
  packages/client/src/shared/stylesMui/index.ts
Due: lint:eslint

feature/cfg-61
  packages/client/src/shared/styleMui/index.ts
Due: lint:eslint

feature/cfg-61
  packages/client/src/pages/TestPage.tsx
Due: lint:eslint

feature/cfg-61
  packages/client/src/pages/TestPage.module.scss
  packages/client/src/pages/TestPage.tsx
Due: lint:eslint, lint:stylelint

feature/cfg-61
  packages/client/src/pages/TestPage.module.scss
Due: lint:stylelint

Правки ревью
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.module.scss
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.tsx
  packages/client/src/feature/session/login/ui/LoginHeader/LoginHeader.module.scss
  packages/client/src/feature/session/login/ui/LoginHeader/LoginHeader.tsx
  packages/client/src/shared/components/ui/BackgroundWrapper/BackgroundWrapper.tsx
  packages/client/src/shared/components/ui/BackgroundWrapper/index.ts
  packages/client/src/widgets/session/login/ui/LoginWidget/LoginWidget.module.scss
  packages/client/src/widgets/session/login/ui/LoginWidget/LoginWidget.tsx
Due: lint:eslint, lint:stylelint

profile page was added
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/pages/Profile.tsx
  packages/client/src/pages/profile/index.tsx
  packages/client/src/pages/profile/ui/index.tsx
  packages/client/src/shared/config/routing.ts
  packages/client/src/widgets/profileWidget/ui/index.ts
Due: lint:eslint

стили перенесены
  packages/client/src/shared/components/ui/BaseTable/BaseTable.tsx
  packages/client/src/shared/styleMui/index.ts
Due: lint:eslint

стили перенесены
  packages/client/src/pages/error/Error500/Error500.tsx
  packages/client/src/shared/styleMui/index.ts
  packages/client/src/widgets/errorPage/index.ts
  packages/client/src/widgets/errorPageWidget/ErrorPage.module.scss
  packages/client/src/widgets/errorPageWidget/ErrorPageWidget.tsx
  packages/client/src/widgets/errorPageWidget/index.ts
Due: lint:eslint, lint:stylelint

add first feature
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/feature/forum/hooks/index.ts
  packages/client/src/feature/forum/ui/CreateTopic/CreateTopic.tsx
  packages/client/src/feature/forum/ui/CreateTopic/index.ts
  packages/client/src/feature/forum/ui/ForumFeature/ForumFeature.tsx
  packages/client/src/feature/forum/ui/ForumFeature/index.ts
  packages/client/src/feature/forum/ui/TopicDetail/TopicDetail.tsx
  packages/client/src/feature/forum/ui/TopicDetail/index.ts
  packages/client/src/feature/forum/ui/TopicsList/TopicList.module.scss
  packages/client/src/feature/forum/ui/TopicsList/TopicList.tsx
  packages/client/src/feature/forum/ui/TopicsList/index.ts
  packages/client/src/pages/404.tsx
  packages/client/src/pages/Forum.tsx
  packages/client/src/pages/ForumTopic.tsx
  packages/client/src/pages/forum/index.ts
  packages/client/src/pages/forum/ui/index.tsx
  packages/client/src/shared/components/ui/BaseListItemButton/BaseListItemButton.tsx
  packages/client/src/shared/components/ui/BaseListItemButton/index.ts
  packages/client/src/shared/components/ui/BaseListItemText/BaseListItemText.tsx
  packages/client/src/shared/components/ui/BaseListItemText/index.ts
  packages/client/src/widgets/forum/index.ts
  packages/client/src/widgets/forum/ui/ForumWidget/ForumWidget.tsx
  packages/client/src/widgets/forum/ui/ForumWidget/index.ts
Due: lint:eslint, lint:stylelint

delete old page
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/pages/500.tsx
Due: lint:eslint

delete dublicate modal
  packages/client/src/shared/components/ui/BaseModalWindow/ui/BaseModalWindow.module.scss
  packages/client/src/shared/components/ui/BaseModalWindow/ui/BaseModalWindow.tsx
Due: lint:eslint, lint:stylelint

update game page
  packages/client/src/app/router/AppRouter.tsx
Due: lint:eslint

Merge
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/app/styles/global.module.scss
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.module.scss
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.tsx
  packages/client/src/widgets/session/login/ui/LoginWidget/LoginWidget.module.scss
Due: lint:eslint, lint:stylelint

Реализация UI страницы 404
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/pages/error/Error404/Error404.tsx
  packages/client/src/pages/error/Error404/index.ts
Due: lint:eslint

update deps
  yarn.lock
Due: none

Правка ревью
  packages/client/src/shared/components/core/BackgroundWrapper/BackgroundWrapper.tsx
  packages/client/src/shared/components/core/BackgroundWrapper/index.ts
  packages/client/src/widgets/session/login/ui/LoginWidget/LoginWidget.tsx
Due: lint:eslint

feature/cfg-70
  .eslintrc.js
  packages/client/package.json
  packages/client/src/app/App/App.tsx
  packages/client/src/app/router/PrivateRoute.tsx
  packages/client/src/entities/user/model/index.ts
  packages/client/src/entities/user/model/selector.ts
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/types.ts
  yarn.lock
Due: lint:eslint

fix leaderboard name
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/entities/user/model/index.ts
  packages/client/src/pages/Leaderboard/index.ts
  packages/client/src/pages/Leaderboard/ui/index.tsx
Due: lint:eslint

update component
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/game/ui/GameEntities/GameEntities.module.scss
  packages/client/src/entities/game/ui/GameEntities/GameEntities.tsx
  packages/client/src/entities/game/ui/GameEntities/index.ts
  packages/client/src/feature/game/game-engine/ui/CanvasFrame/index.ts
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.tsx
  packages/client/src/feature/game/game-engine/ui/StopGame/StopGame.tsx
  packages/client/src/widgets/game/game-engine/ui/GameEngineWidget/GameEngineWidget.module.scss
  packages/client/src/widgets/game/game-engine/ui/GameEngineWidget/GameEngineWidget.tsx
Due: lint:eslint, lint:stylelint

update component
  packages/client/src/entities/game/ui/GameEntities/GameEntities.tsx
  packages/client/src/feature/game/game-engine/hooks/useStartGame.tsx
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.module.scss
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.tsx
  packages/client/src/shared/styleMui/index.ts
Due: lint:eslint, lint:stylelint

fullsreen api
  packages/client/src/feature/game/game-engine/hooks/useStartGame.tsx
Due: lint:eslint

update component
  packages/client/src/feature/game/game-engine/hooks/useStartGame.tsx
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.module.scss
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.tsx
  packages/client/src/feature/game/game-engine/ui/StopGame/StopGame.tsx
  packages/client/src/feature/game/game-engine/ui/StopGame/index.ts
Due: lint:eslint, lint:stylelint

update component
  packages/client/src/entities/game/ui/GameEntities/GameEntities.module.scss
  packages/client/src/entities/game/ui/GameEntities/GameEntities.tsx
  packages/client/src/feature/game/game-engine/hooks/useStartGame.tsx
Due: lint:eslint, lint:stylelint

update component
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.module.scss
Due: lint:stylelint
