Repository DmitriyBrewer/CodersForceGame: changes, and which lefthook commands are due for each by the changed paths.
All: lint:eslint, lint:stylelint

lint:eslint:
  run: yarn lint:eslint

lint:stylelint:
  run: yarn lint:stylelint

Доработка механики движения
  packages/client/src/entities/game/index.ts
  packages/client/src/entities/images/ambulance.png
  packages/client/src/entities/images/police.png
  packages/client/src/entities/images/truck.png
  packages/client/src/entities/input-handler/index.ts
  packages/client/src/entities/player/index.ts
  packages/client/src/entities/sprite-animation/index.ts
  packages/client/src/entities/types/types.ts
  packages/client/src/entities/vehicle/index.ts
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.module.scss
Due: lint:eslint, lint:stylelint

fix hooks
  packages/client/src/app/router/hooks/useAuth.tsx
  packages/client/src/app/router/hooks/usePublicAuth.tsx
  packages/client/src/shared/context/global-error-wrapper/GlobalErrorWrapper.tsx
Due: lint:eslint

first tests
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/__mocks__/fileMock.js
  packages/client/src/client.d.ts
  packages/client/src/entities/game/index.test.ts
  packages/client/src/entities/game/index.ts
  yarn.lock
Due: lint:eslint

Рефакторинг игровых классов
  packages/client/src/entities/game/index.ts
  packages/client/src/entities/game/utils/InputHandler.ts
  packages/client/src/entities/game/utils/Сollision.ts
  packages/client/src/entities/player/index.ts
  packages/client/src/entities/vehicle/index.ts
Due: lint:eslint

add more
  packages/client/src/entities/game/index.test.ts
Due: lint:eslint

cfg-88
  .gitignore
  packages/client/index.html
  packages/client/index.js
  packages/client/package.json
  packages/client/src/app/App/App.tsx
  packages/client/src/feature/game/game-engine/hooks/useGame.tsx
  packages/client/src/main.tsx
  packages/client/ssr.config.ts
  packages/client/ssr.tsx
  packages/client/vite.config.ts
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: lint:eslint

Правки ревью
  packages/client/src/app/styles/global.module.scss
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/types/types.ts
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.module.scss
Due: lint:eslint, lint:stylelint

feature/cfg-88
  packages/client/src/app/App/App.tsx
  packages/client/src/main.tsx
  packages/client/ssr.tsx
  packages/server/index.ts
Due: lint:eslint

feature/cfg-88
  packages/client/src/main.tsx
  packages/client/ssr.tsx
  packages/client/vite.config.ts.timestamp-1719483445223-0cf8805a2243f.mjs
Due: lint:eslint

fix problems merge develop
  packages/client/src/entities/game/index.test.ts
  packages/client/src/entities/game/index.ts
  packages/client/src/entities/road/index.ts
  packages/client/src/entities/vehicle/index.ts
Due: lint:eslint

Использование Perfomance API для определения FPS
  packages/client/src/entities/game/index.ts
Due: lint:eslint

add test
  packages/client/src/entities/game/index.test.ts
  packages/client/src/entities/game/index.ts
  packages/client/src/entities/vehicle/index.ts
Due: lint:eslint

env sample was added
  packages/client/.env.sample
Due: none

REDIRECT_URI was added
  packages/client/src/shared/api/constant/index.ts
Due: lint:eslint

base query moved to shared
  packages/client/src/feature/session/api/authApi.ts
  packages/client/src/shared/api/baseQuery.ts
Due: lint:eslint

oAuth has been implemented
  packages/client/src/feature/session/api/oAuthApi.ts
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.tsx
  packages/client/src/feature/session/o-auth/hooks/useOAuth.tsx
  packages/client/src/feature/session/o-auth/types/index.ts
  packages/client/src/feature/session/o-auth/ui/OAuthButton/OAuthButton.tsx
  packages/client/src/feature/session/o-auth/ui/OAuthButton/index.ts
  packages/client/src/feature/session/o-auth/ui/index.ts
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/layouts/base-layout/ui/BaseLayout/BaseLayout.tsx
  packages/client/src/shared/api/types/index.ts
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/types.ts
  packages/client/src/widgets/home/ui/HomeWidget/HomeWidget.tsx
Due: lint:eslint

Доработка окончания игры, паузы и рестарта
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/game/index.ts
  packages/client/src/shared/context/global-error-wrapper/GlobalErrorWrapper.tsx
  packages/client/src/shared/types/index.ts
Due: lint:eslint

tests game engine
  packages/client/src/entities/game/index.test.ts
  packages/client/src/entities/player/index.test.ts
  packages/client/src/entities/player/index.ts
  packages/client/src/entities/road/index.test.ts
  packages/client/src/entities/vehicle/index.test.ts
  packages/client/src/entities/vehicle/index.ts
Due: lint:eslint

fix node version in actions
  .github/workflows/checks.yml
Due: none

ssr
  packages/client/index.html
  packages/client/src/app/App/App.tsx
  packages/client/src/app/router/AppRouter/AppRouter.tsx
  packages/client/src/app/router/PublicRoute.module.scss
  packages/client/src/app/router/routes/routes.tsx
  packages/client/src/main.tsx
  packages/client/ssr.config.ts
  packages/client/ssr.tsx
  packages/client/tsconfig.json
Due: lint:eslint, lint:stylelint

ssr
  packages/client/index.html
  packages/server/index.ts
Due: lint:eslint

ssr
  packages/client/src/app/App/index.ts
  packages/client/src/layouts/core-layout/index.ts
  packages/client/src/layouts/core-layout/ui/CoreLayout/CoreLayout.module.scss
  packages/client/src/layouts/core-layout/ui/CoreLayout/CoreLayout.tsx
  packages/client/src/layouts/core-layout/ui/CoreLayout/index.ts
  packages/client/src/layouts/core-layout/ui/index.ts
  packages/client/src/layouts/main-layout/index.ts
  packages/client/src/layouts/main-layout/ui/MainLayout/MainLayout.module.scss
  packages/client/src/layouts/main-layout/ui/MainLayout/MainLayout.tsx
  packages/client/src/layouts/main-layout/ui/MainLayout/index.ts
  packages/client/src/layouts/main-layout/ui/index.ts
  packages/client/src/main.tsx
  packages/client/src/shared/context/global-error-wrapper/GlobalErrorWrapper.tsx
  packages/client/ssr.tsx
Due: lint:eslint, lint:stylelint

ssr
  packages/client/src/main.tsx
  packages/client/ssr.tsx
Due: lint:eslint

add ui test
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/CreateTopicDialog.test.tsx
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/__snapshots__/CreateTopicDialog.test.tsx.snap
  packages/client/src/setupTest.ts
  yarn.lock
Due: lint:eslint

fix comments
  packages/client/src/entities/game/index.test.ts
Due: lint:eslint

other
  packages/client/index.html
  packages/client/vite.config.ts.timestamp-1719483445223-0cf8805a2243f.mjs
  packages/server/package.json
  yarn.lock
Due: none

other
  packages/client/src/app/app-routes/AppRoutes.tsx
  packages/client/src/app/app-routes/index.ts
  packages/client/src/main.tsx
  packages/client/ssr.tsx
Due: lint:eslint

ssr update
  packages/client/index.html
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/ssr.config.ts
  packages/client/ssr.tsx
  packages/client/tsconfig.json
  packages/server/index.ts
Due: lint:eslint

clean
  packages/server/index.ts
Due: lint:eslint

fix manifest
  packages/client/public/service-worker.js
Due: none

todo
  packages/server/index.ts
Due: lint:eslint

other
  packages/client/src/app/router/AppRouter/AppRouter.tsx
Due: lint:eslint

feature/cfg-88
  packages/client/src/layouts/core-layout/ui/CoreLayout/CoreLayout.tsx
Due: lint:eslint

fix spec tests
  .gitignore
  packages/client/jest.config.js
  packages/client/src/entities/game/index.spec.ts
  packages/client/src/entities/player/index.spec.ts
  packages/client/src/entities/road/index.spec.ts
  packages/client/src/entities/vehicle/index.spec.ts
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/CreateTopicDialog.spec.tsx
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/__snapshots__/CreateTopicDialog.test.tsx.snap
  packages/client/src/shared/components/ui/BaseBox/BaseBox.spec.tsx
  packages/client/src/shared/components/ui/BaseContainer/BaseContainer.spec.tsx
  packages/client/src/shared/components/ui/BaseDialog/BaseDialog.spec.tsx
  packages/client/src/shared/components/ui/BaseDialogActions/BaseDialogActions.spec.tsx
  packages/client/src/shared/components/ui/BaseDialogContent/BaseDialogContent.spec.tsx
  packages/client/src/shared/components/ui/BaseDialogTitle/BaseDialogTitle.spec.tsx
  packages/client/src/shared/components/ui/BaseInput/BaseInput.spec.tsx
  packages/client/src/shared/components/ui/BaseLinearProgress/BaseLinearProgress.spec.tsx
  packages/client/src/shared/components/ui/BaseLink/BaseLink.spec.tsx
  packages/client/src/shared/components/ui/BaseLoader/BaseLoader.spec.tsx
  packages/client/src/shared/components/ui/BasePaperPolymorphic/BasePaperPolymorphic.spec.tsx
  packages/client/src/shared/components/ui/BaseTextField/BaseTextField.spec.tsx
  packages/client/src/shared/components/ui/BaseTypography/BaseTypography.spec.tsx
Due: lint:eslint

fix
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/index.ts
Due: lint:eslint

check testAvatar
  .gitignore
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/__snapshots__/CreateTopicDialog.spec.tsx.snap
  packages/client/src/shared/components/ui/BaseAvatar/BaseAvatar.spec.tsx
  packages/client/src/shared/components/ui/BaseAvatar/__snapshots__/BaseAvatar.spec.tsx.snap
  packages/client/src/shared/components/ui/BaseButton/BaseButton.spec.tsx
  packages/client/src/shared/components/ui/BaseButton/__snapshots__/BaseButton.spec.tsx.snap
  packages/client/src/shared/components/ui/BaseDialogTitle/__snapshots__/BaseDialogTitle.spec.tsx.snap
  packages/client/src/shared/components/ui/BaseIconButton/BaseIconButton.spec.tsx
  packages/client/src/shared/components/ui/BaseIconButton/__snapshots__/BaseIconButton.spec.tsx.snap
  packages/client/src/shared/components/ui/BaseInput/__snapshots__/BaseInput.spec.tsx.snap
  packages/client/src/shared/components/ui/BaseLinearProgress/__snapshots__/BaseLinearProgress.spec.tsx.snap
  packages/client/src/shared/components/ui/BaseLink/__snapshots__/BaseLink.spec.tsx.snap
  packages/client/src/shared/components/ui/BaseLoader/__snapshots__/BaseLoader.spec.tsx.snap
  packages/client/src/shared/components/ui/BaseTextField/BaseTextField.spec.tsx
  packages/client/src/shared/components/ui/BaseTextField/__snapshots__/BaseTextField.spec.tsx.snap
  packages/client/src/shared/components/ui/BaseTypography/__snapshots__/BaseTypography.spec.tsx.snap
Due: lint:eslint

fixed after review
  packages/client/src/feature/session/api/authApi.ts
  packages/client/src/feature/session/api/oAuthApi.ts
  packages/client/src/feature/session/o-auth/hooks/useOAuth.tsx
  packages/client/src/feature/session/o-auth/ui/OAuthButton/index.ts
  packages/client/src/feature/session/o-auth/ui/index.ts
  packages/client/src/layouts/base-layout/ui/BaseLayout/BaseLayout.tsx
  packages/client/src/layouts/base-layout/ui/BaseLayout/index.ts
Due: lint:eslint

changed profile api
  packages/client/src/feature/profile/api/profileApi.ts
  packages/client/src/feature/profile/hooks/useProfileAvatar.ts
  packages/client/src/feature/profile/hooks/useProfilePassword.ts
  packages/client/src/feature/profile/ui/ProfileAvatarForm/ProfileAvatarForm.tsx
  packages/client/src/shared/api/fetchInstance.ts
Due: lint:eslint

fixed getUser after OAuth
  packages/client/src/feature/session/api/oAuthApi.ts
  packages/client/src/feature/session/o-auth/hooks/useOAuth.tsx
Due: lint:eslint

set user reducer was added
  packages/client/src/entities/user/model/index.ts
  packages/client/src/feature/profile/hooks/useProfileAvatar.ts
  packages/client/src/shared/store/index.ts
Due: lint:eslint

Path conditions:
  lint:eslint: any of: *.{ts,tsx}
  lint:stylelint: any of: *.{css,module.scss}
