Repository DmitriyBrewer/CodersForceGame: changes, and which lefthook commands are due for each by the changed paths.
All: lint:eslint, lint:stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:eslint:
      glob: '*.{ts,tsx}'
      run: yarn lint:eslint
    lint:stylelint:
      glob: '*.{css,module.scss}'
      run: yarn lint:stylelint
    test:
      run: yarn test

update components & types
  packages/client/src/feature/session/register/hooks/useRegister.tsx
  packages/client/src/feature/session/register/model/validateField.ts
  packages/client/src/feature/session/register/types/index.ts
  packages/client/src/feature/session/register/ui/RegisterHeader/RegisterHeader.tsx
  packages/client/src/feature/session/register/ui/RegisterPasswordInput/RegisterPasswordInput.tsx
  packages/client/src/feature/session/register/ui/RegisterPhoneInput/RegisterPhoneInput.tsx
  packages/client/src/pages/session/register/ui/index.tsx
  packages/client/src/shared/components/ui/BasePaperPolymorphic/BasePaperPolymorphic.tsx
  packages/client/src/shared/types/index.ts
Due: lint:eslint

feature/cfg-23 fix validation
  packages/client/src/feature/session/register/model/validateField.ts
Due: lint:eslint

add themeProvider
  packages/client/src/app/App/App.tsx
  packages/client/src/shared/context/ThemeProvider.tsx
Due: lint:eslint

add password repeat
  packages/client/src/feature/session/register/constant/index.ts
  packages/client/src/feature/session/register/hooks/useRegister.tsx
  packages/client/src/feature/session/register/model/validateField.ts
  packages/client/src/feature/session/register/types/index.ts
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/feature/session/register/ui/RegisterPasswordInput/RegisterPasswordInput.tsx
  packages/client/src/feature/session/register/ui/RegisterPhoneInput/RegisterPhoneInput.tsx
  packages/client/src/feature/session/register/ui/RegisterTextInput/RegisterTextInput.tsx
Due: lint:eslint

update hook & regexp
  packages/client/src/feature/session/register/constant/index.ts
  packages/client/src/feature/session/register/hooks/useRegister.tsx
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
Due: lint:eslint

hadle paste
  packages/client/src/feature/session/register/ui/RegisterPasswordInput/RegisterPasswordInput.tsx
Due: lint:eslint

autocomplete on
  packages/client/src/feature/session/register/ui/RegisterForm/RegisterForm.tsx
Due: lint:eslint

feature/cfg-23
  packages/client/src/feature/session/register/model/validateField.ts
Due: lint:eslint

feature/cfg-28
  packages/client/src/app/App/App.tsx
  packages/client/src/shared/context/error-boundary/ErrorBoundary.tsx
Due: lint:eslint

feature/cfg-37
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/app/styles/global.module.scss
  packages/client/src/feature/game/start-game/index.ts
  packages/client/src/feature/game/start-game/ui/StartGameFeature/StartGameFeature.module.scss
  packages/client/src/feature/game/start-game/ui/StartGameFeature/StartGameFeature.tsx
  packages/client/src/feature/game/start-game/ui/StartGameFeature/index.ts
  packages/client/src/pages/Game.tsx
  packages/client/src/pages/game/start-game/index.ts
  packages/client/src/pages/game/start-game/ui/index.tsx
  packages/client/src/shared/components/ui/BaseLinearProgress/BaseLinearProgress.spec.tsx
  packages/client/src/shared/components/ui/BaseLinearProgress/BaseLinearProgress.tsx
  packages/client/src/shared/components/ui/BaseLinearProgress/index.ts
  packages/client/src/widgets/game/start-game/index.ts
  packages/client/src/widgets/game/start-game/ui/StartGameWidget/StartGameWidget.tsx
  packages/client/src/widgets/game/start-game/ui/StartGameWidget/index.ts
Due: lint:eslint, lint:stylelint

add logic
  packages/client/src/feature/game/start-game/ui/StartGameFeature/StartGameFeature.tsx
Due: lint:eslint

add logic + test frame
  packages/client/src/feature/game/start-game/CanvasFrame/CanvarFrame.tsx
  packages/client/src/feature/game/start-game/CanvasFrame/CanvasFramse.module.scss
  packages/client/src/feature/game/start-game/CanvasFrame/index.ts
  packages/client/src/feature/game/start-game/ui/StartGameFeature/StartGameFeature.tsx
Due: lint:eslint, lint:stylelint

add dialog mui
  packages/client/src/feature/game/start-game/ui/StartGameFeature/StartGameFeature.tsx
  packages/client/src/feature/game/start-game/ui/StartGameRules/StartGameRules.tsx
  packages/client/src/feature/game/start-game/ui/StartGameRules/index.ts
  packages/client/src/shared/components/icons/iconsMui.ts
  packages/client/src/shared/components/ui/BaseDialog/BaseDialog.spec.tsx
  packages/client/src/shared/components/ui/BaseDialog/BaseDialog.tsx
  packages/client/src/shared/components/ui/BaseDialog/index.ts
  packages/client/src/shared/components/ui/BaseDialogActions/BaseDialogActions.spec.tsx
  packages/client/src/shared/components/ui/BaseDialogActions/BaseDialogActions.tsx
  packages/client/src/shared/components/ui/BaseDialogActions/index.ts
  packages/client/src/shared/components/ui/BaseDialogContent/BaseDialogContent.spec.tsx
  packages/client/src/shared/components/ui/BaseDialogContent/BaseDialogContent.tsx
  packages/client/src/shared/components/ui/BaseDialogContent/index.ts
  packages/client/src/shared/components/ui/BaseDialogTitle/BaseDialogTitle.spec.tsx
  packages/client/src/shared/components/ui/BaseDialogTitle/BaseDialogTitle.tsx
  packages/client/src/shared/components/ui/BaseDialogTitle/index.ts
Due: lint:eslint

add loader & other
  packages/client/src/feature/game/start-game/hooks/useStartGame.tsx
  packages/client/src/feature/game/start-game/ui/CanvasFrame/CanvarFrame.tsx
  packages/client/src/feature/game/start-game/ui/CanvasFrame/CanvasFramse.module.scss
  packages/client/src/feature/game/start-game/ui/CanvasFrame/index.ts
  packages/client/src/feature/game/start-game/ui/StartGameFeature/StartGameFeature.tsx
  packages/client/src/shared/components/ui/BaseLoader/BaseLoader.spec.tsx
  packages/client/src/shared/components/ui/BaseLoader/BaseLoader.tsx
  packages/client/src/shared/components/ui/BaseLoader/index.ts
Due: lint:eslint, lint:stylelint

components update
  packages/client/src/feature/game/start-game/ui/StartGame/StartGame.tsx
  packages/client/src/feature/game/start-game/ui/StartGame/index.ts
  packages/client/src/feature/game/start-game/ui/StartGameFeature/StartGameFeature.module.scss
  packages/client/src/feature/game/start-game/ui/StartGameFeature/StartGameFeature.tsx
  packages/client/src/feature/game/start-game/ui/StopGame/StopGame.tsx
  packages/client/src/feature/game/start-game/ui/StopGame/index.ts
Due: lint:eslint, lint:stylelint

components update
  packages/client/src/app/styles/global.module.scss
  packages/client/src/feature/game/start-game/hooks/useStartGame.tsx
  packages/client/src/feature/game/start-game/ui/CanvasFrame/CanvarFrame.tsx
  packages/client/src/feature/game/start-game/ui/StartGameRules/StartGameRules.module.scss
  packages/client/src/feature/game/start-game/ui/StartGameRules/StartGameRules.tsx
  packages/client/src/shared/components/ui/BaseDialogTitle/BaseDialogTitle.tsx
Due: lint:eslint, lint:stylelint

other
  packages/client/src/app/styles/global.module.scss
  packages/client/src/feature/game/start-game/ui/CanvasFrame/CanvarFrame.tsx
  packages/client/src/feature/game/start-game/ui/StartGameDescription/StartGameDescription.tsx
  packages/client/src/feature/game/start-game/ui/StartGameDescription/index.ts
  packages/client/src/feature/game/start-game/ui/StartGameRules/StartGameRules.module.scss
  packages/client/src/feature/game/start-game/ui/StartGameRules/StartGameRules.tsx
  packages/client/src/shared/components/ui/BaseDialogContent/BaseDialogContent.tsx
Due: lint:eslint, lint:stylelint

fix logic
  packages/client/src/feature/game/start-game/hooks/useStartGame.tsx
  packages/client/src/feature/game/start-game/ui/CanvasFrame/CanvarFrame.tsx
Due: lint:eslint

clean //
  packages/client/src/feature/game/start-game/ui/CanvasFrame/CanvarFrame.tsx
Due: lint:eslint

BaseLink was added
  packages/client/src/shared/components/ui/BaseLink/BaseLink.spec.tsx
  packages/client/src/shared/components/ui/BaseLink/BaseLink.tsx
  packages/client/src/shared/components/ui/BaseLink/index.tsx
Due: lint:eslint

ErrorPageWidget was added
  packages/client/src/widgets/error/ErrorPage.tsx
  packages/client/src/widgets/error/index.ts
Due: lint:eslint

react no-spreading was fixed
  .eslintrc.js
Due: none

Error500Page was added
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/pages/error/Error500/Error500.tsx
  packages/client/src/pages/error/Error500/index.ts
Due: lint:eslint

tests props was fixed
  packages/client/src/shared/components/ui/BaseLink/BaseLink.spec.tsx
Due: lint:eslint

add gameoverscreen
  packages/client/src/app/styles/global.module.scss
  packages/client/src/pages/404.tsx
  packages/client/src/themes.ts
  packages/client/src/widgets/gameOverScreen/GameOverScreen.module.scss
  packages/client/src/widgets/gameOverScreen/GameOverScreen.tsx
  packages/client/src/widgets/gameOverScreen/index.ts
Due: lint:eslint, lint:stylelint

fix themes
  packages/client/src/app/App/App.tsx
  packages/client/src/themes.ts
Due: lint:eslint

add modal
  packages/client/package.json
  packages/client/src/pages/404.module.scss
  packages/client/src/pages/404.tsx
  packages/client/src/pages/Game.tsx
  packages/client/src/shared/components/ui/ModalWindow/index.ts
  packages/client/src/shared/components/ui/ModalWindow/ui/ModalWindow.tsx
  packages/client/src/shared/hooks/useModal.test.tsx
  packages/client/src/shared/hooks/useModal.ts
  packages/client/src/widgets/gameOverScreen/GameOverScreen.module.scss
  packages/client/src/widgets/gameOverScreen/GameOverScreen.tsx
  yarn.lock
Due: lint:eslint, lint:stylelint

feature/cfg-37
  packages/client/src/feature/game/start-game/ui/CanvasFrame/CanvarFrame.tsx
  packages/client/src/feature/game/start-game/ui/CanvasFrame/CanvasFrame.module.scss
Due: lint:eslint, lint:stylelint

update component
  packages/client/src/feature/game/start-game/ui/StartGame/StartGame.tsx
  packages/client/src/feature/game/start-game/ui/StartGameButton/StartGameHeader.tsx
  packages/client/src/feature/game/start-game/ui/StartGameButton/index.ts
  packages/client/src/feature/game/start-game/ui/StartGameHeader/StartGameHeader.tsx
  packages/client/src/feature/game/start-game/ui/StartGameHeader/index.ts
Due: lint:eslint

update
  packages/client/src/feature/game/start-game/ui/CanvasFrame/CanvarFrame.tsx
  packages/client/src/feature/game/start-game/ui/CanvasFrame/CanvasFrame.module.scss
  packages/client/src/feature/game/start-game/ui/StartGame/StartGame.tsx
  packages/client/src/feature/game/start-game/ui/StartGameFeature/StartGameFeature.tsx
  packages/client/src/feature/game/start-game/ui/StartGameRules/StartGameRules.tsx
  packages/client/src/feature/game/start-game/ui/StopGame/StopGame.tsx
  packages/client/src/shared/hooks/useRenderClient.tsx
Due: lint:eslint, lint:stylelint

update
  packages/client/src/feature/game/start-game/ui/StartGameFeature/StartGameFeature.tsx
  packages/client/src/shared/components/ui/BaseLoader/BaseLoader.tsx
Due: lint:eslint

BaseLayout was added
  packages/client/src/layouts/BaseLayout/BaseLayout.tsx
  packages/client/src/layouts/BaseLayout/index.ts
Due: lint:eslint

router was changed for use layouts
  packages/client/src/app/router/AppRouter.tsx
Due: lint:eslint

ErrorBoundary fixed
  packages/client/src/layouts/BaseLayout/BaseLayout.tsx
Due: lint:eslint

Реализация UI страницы Логина
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/app/styles/global.module.scss
  packages/client/src/assets/images/login-background.png
  packages/client/src/feature/session/login/hooks/useLogin.tsx
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.module.scss
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.tsx
  packages/client/src/feature/session/login/ui/LoginFeature/index.ts
  packages/client/src/feature/session/login/ui/LoginForm/LoginForm.module.scss
  packages/client/src/feature/session/login/ui/LoginForm/LoginForm.tsx
  packages/client/src/feature/session/login/ui/LoginForm/index.ts
  packages/client/src/feature/session/login/ui/LoginHeader/LoginHeader.tsx
  packages/client/src/feature/session/login/ui/LoginHeader/index.ts
  packages/client/src/feature/session/login/ui/index.ts
  packages/client/src/pages/Login.tsx
  packages/client/src/pages/session/login/index.tsx
  packages/client/src/pages/session/login/ui/index.tsx
  packages/client/src/shared/components/ui/BaseLink/BaseLink.tsx
  packages/client/src/shared/components/ui/BaseLink/index.ts
  packages/client/src/widgets/session/login/ui/LoginWidget/LoginWidget.module.scss
  packages/client/src/widgets/session/login/ui/LoginWidget/LoginWidget.tsx
  packages/client/src/widgets/session/login/ui/LoginWidget/index.ts
  packages/client/src/widgets/session/login/ui/index.ts
Due: lint:eslint, lint:stylelint

Правило для формата записи селекторов scss
  .stylelintrc.js
Due: none

fix problems
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/feature/game/end-game/hooks/useEndGame.tsx
  packages/client/src/feature/game/end-game/index.ts
  packages/client/src/feature/game/end-game/ui/EndGameFeature.module.scss
  packages/client/src/feature/game/end-game/ui/EndGameFeature.tsx
  packages/client/src/feature/game/end-game/ui/index.ts
  packages/client/src/pages/Game.tsx
  packages/client/src/pages/game/index.tsx
  packages/client/src/pages/game/ui/index.tsx
  packages/client/src/shared/components/ui/BaseModalWindow/index.ts
  packages/client/src/shared/components/ui/BaseModalWindow/ui/ModalWindow.tsx
  packages/client/src/shared/components/ui/ModalWindow/index.ts
  packages/client/src/shared/hooks/useModal/index.ts
  packages/client/src/shared/hooks/useModal/useModal.test.tsx
  packages/client/src/shared/hooks/useModal/useModal.ts
  packages/client/src/widgets/game/end-game/index.ts
  packages/client/src/widgets/game/end-game/ui/EndGameWidget/EndGameWidget.tsx
  packages/client/src/widgets/game/end-game/ui/EndGameWidget/index.ts
  packages/client/src/widgets/gameOverScreen/GameOverScreen.tsx
  packages/client/src/widgets/gameOverScreen/index.ts
Due: lint:eslint, lint:stylelint

fix styles
  packages/client/src/app/styles/global.module.scss
  packages/client/src/shared/components/ui/BaseModalWindow/index.ts
  packages/client/src/shared/components/ui/BaseModalWindow/ui/BaseModalWindow.module.scss
  packages/client/src/shared/components/ui/BaseModalWindow/ui/BaseModalWindow.tsx
  packages/client/src/widgets/game/end-game/index.ts
  packages/client/src/widgets/game/end-game/ui/EndGameWidget/index.ts
Due: lint:eslint, lint:stylelint

one more css fix
  packages/client/src/shared/components/ui/BaseModalWindow/ui/BaseModalWindow.module.scss
Due: lint:stylelint
