Repository DmitriyBrewer/CodersForceGame: changes, and which lefthook commands are due for each by the changed paths.
All: lint:eslint, lint:stylelint

lint:eslint:
  run: yarn lint:eslint

lint:stylelint:
  run: yarn lint:stylelint

fix route & paths
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/app/router/PrivateRoute.tsx
  packages/client/src/app/router/PublicRoute.tsx
  packages/client/src/app/router/hooks/usePublicAuth.tsx
  packages/client/src/feature/session/login/hooks/useLogin.tsx
  packages/client/src/feature/session/register/hooks/useRegister.tsx
  packages/client/src/pages/Profile.tsx
  packages/client/src/pages/index.tsx
  packages/client/src/pages/leaderboard/index.ts
  packages/client/src/pages/leaderboard/ui/index.tsx
  packages/client/src/widgets/error/error-page-widget/ui/ErrorPageWidget/ErrorPageWidget.tsx
Due: lint:eslint

rename pages and toutes
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/app/router/PrivateRoute.tsx
  packages/client/src/pages/error/404/index.ts
  packages/client/src/pages/error/404/ui/index.tsx
  packages/client/src/pages/error/500/index.ts
  packages/client/src/pages/error/500/ui/index.tsx
  packages/client/src/shared/components/ui/BaseLink/BaseLink.spec.tsx
  packages/client/src/shared/config/routing.ts
  packages/client/src/shared/context/error-boundary/ErrorBoundary.tsx
Due: lint:eslint

ref login & regiset
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.module.scss
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.tsx
  packages/client/src/shared/components/core/FormData/FormData.tsx
  packages/client/src/shared/styleMui/index.ts
  packages/client/src/widgets/session/login/ui/LoginWidget/LoginWidget.tsx
  packages/client/src/widgets/session/register/ui/RegisterWidget/RegisterWidget.tsx
Due: lint:eslint, lint:stylelint

fix public router
  packages/client/src/app/router/PublicRoute.tsx
  packages/client/src/app/router/hooks/usePublicAuth.tsx
Due: lint:eslint

fix privat
  packages/client/src/app/router/AppRouter.tsx
Due: lint:eslint

add todo api profile
  packages/client/src/feature/profile/hooks/useProfile.ts
Due: lint:eslint

add onclose password
  packages/client/src/feature/profile/ui/ProfilePassword/ProfilePassword.tsx
Due: lint:eslint

clean console
  packages/client/src/app/router/PrivateRoute.tsx
Due: lint:eslint

full height
  packages/client/src/widgets/session/login/ui/LoginWidget/LoginWidget.module.scss
  packages/client/src/widgets/session/login/ui/LoginWidget/LoginWidget.tsx
  packages/client/src/widgets/session/register/ui/RegisterWidget/RegisterWidget.module.scss
  packages/client/src/widgets/session/register/ui/RegisterWidget/RegisterWidget.tsx
Due: lint:eslint, lint:stylelint

Реализация механики движения дороги относительно игрока
  .eslintrc.js
  packages/client/src/app/router/PublicRoute.module.scss
  packages/client/src/entities/game/index.ts
  packages/client/src/entities/game/utils/Load.ts
  packages/client/src/entities/game/utils/Timer.ts
  packages/client/src/entities/images/road.png
  packages/client/src/entities/road/index.ts
  packages/client/src/entities/sprite-image/index.ts
  packages/client/src/entities/types/types.ts
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.module.scss
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.tsx
Due: lint:eslint, lint:stylelint

SW new variant was added
  packages/client/src/app/service-worker/registerServiceWorker.ts
  packages/client/src/app/service-worker/serviceWorker.ts
  packages/client/src/main.tsx
  packages/client/tsconfig.node.json
  packages/client/vite-plugin-generate-sw.ts
  packages/client/vite.config.ts
Due: lint:eslint

file name was changed
  packages/client/src/app/service-worker/registerServiceWorker.ts
  packages/client/vite-plugin-generate-sw.ts
Due: lint:eslint

fixed ts error
  packages/client/tsconfig.json
  packages/client/tsconfig.node.json
Due: none

Правки ревью
  docs/gameEngine.md
  packages/client/src/entities/game/index.ts
  packages/client/src/entities/game/utils/Load.ts
  packages/client/src/entities/road/index.ts
  packages/client/src/entities/sprite-image/index.ts
  packages/client/src/entities/types/types.ts
Due: lint:eslint

feature/cfg-22
  packages/client/src/app/router/PublicRoute.tsx
  packages/client/src/feature/profile/hooks/useProfilePassword.ts
  packages/client/src/feature/profile/ui/ProfilePassword/ProfilePassword.tsx
  packages/client/src/shared/components/core/FormData/model/validateField.ts
Due: lint:eslint

add session route & update import
  packages/client/src/app/App/App.tsx
  packages/client/src/app/router/AppRouter/AppRouter.tsx
  packages/client/src/app/router/AppRouter/index.ts
  packages/client/src/app/router/PrivateRouter/PrivateRoute.module.scss
  packages/client/src/app/router/PrivateRouter/PrivateRoute.tsx
  packages/client/src/app/router/PrivateRouter/index.ts
  packages/client/src/app/router/PublicRoute.module.scss
  packages/client/src/app/router/PublicRouter/PublicRoute.module.scss
  packages/client/src/app/router/PublicRouter/PublicRoute.tsx
  packages/client/src/app/router/PublicRouter/index.ts
  packages/client/src/app/router/SessionRoute/SessionRoute.module.scss
  packages/client/src/app/router/SessionRoute/SessionRoute.tsx
  packages/client/src/app/router/SessionRoute/index.ts
  packages/client/src/app/router/hooks/usePublicAuth.tsx
  packages/client/src/app/router/hooks/useSessionRouter.tsx
  packages/client/src/app/router/index.ts
Due: lint:eslint, lint:stylelint

other
  packages/client/src/feature/profile/hooks/useProfilePassword.ts
Due: lint:eslint

decomposition route
  packages/client/src/app/router/PrivateRouter/PrivateRoute.tsx
  packages/client/src/app/router/PublicRouter/PublicRoute.module.scss
  packages/client/src/app/router/PublicRouter/PublicRoute.tsx
  packages/client/src/app/router/RouteBox/RouteBox.module.scss
  packages/client/src/app/router/RouteBox/RouteBox.tsx
  packages/client/src/app/router/RouteBox/index.ts
  packages/client/src/app/router/SessionRoute/SessionRoute.module.scss
  packages/client/src/app/router/SessionRoute/SessionRoute.tsx
  packages/client/src/app/styles/global.module.scss
Due: lint:eslint, lint:stylelint

delete react.
  packages/client/src/app/router/PrivateRouter/PrivateRoute.tsx
  packages/client/src/app/router/PublicRouter/PublicRoute.tsx
  packages/client/src/app/router/SessionRoute/SessionRoute.tsx
  packages/client/src/entities/game/ui/GameEntities/GameEntities.tsx
  packages/client/src/feature/session/login/hooks/useLogin.tsx
  packages/client/src/feature/social/forum/hooks/useMessage.tsx
  packages/client/src/main.tsx
  packages/client/src/shared/components/core/PasswordInput/PasswordInput.tsx
Due: lint:eslint

update import
  packages/client/src/app/App/App.tsx
  packages/client/src/pages/index.tsx
  packages/client/src/shared/components/ui/BaseLink/index.ts
  packages/client/src/shared/components/ui/BaseLink/index.tsx
  packages/client/src/shared/components/ui/BaseSnackbar/index.ts
  packages/client/src/shared/context/error-boundary/index.ts
  packages/client/src/shared/context/theme-provider/ThemeProvider.tsx
  packages/client/src/shared/context/theme-provider/index.ts
Due: lint:eslint

TODO ref
  .eslintrc.js
  packages/client/src/shared/components/icons/iconsMui.ts
  packages/client/src/shared/components/ui/BaseDialog/BaseDialog.tsx
  packages/client/src/shared/components/ui/BaseLoader/BaseLoader.tsx
Due: lint:eslint

WS was added
  packages/client/generate-manifest.js
  packages/client/package.json
  packages/client/public/service-worker.js
  packages/client/src/app/service-worker/registerServiceWorker.ts
  packages/client/src/main.tsx
  yarn.lock
Due: lint:eslint

add navbar
  packages/client/src/app/router/AppRouter/AppRouter.tsx
  packages/client/src/entities/user/model/index.ts
  packages/client/src/feature/base-layout/api/navbarApi.ts
  packages/client/src/feature/base-layout/hooks/useLogout.tsx
  packages/client/src/feature/base-layout/navbar/NavbarFeature/NavbarFeature.tsx
  packages/client/src/feature/base-layout/navbar/NavbarFeature/index.ts
  packages/client/src/feature/base-layout/navbar/NavbarLink/NavbarLink.tsx
  packages/client/src/feature/base-layout/navbar/NavbarLink/index.ts
  packages/client/src/feature/base-layout/navbar/index.ts
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.module.scss
  packages/client/src/layouts/BaseLayout/index.ts
  packages/client/src/layouts/base-layout/index.ts
  packages/client/src/layouts/base-layout/ui/BaseLayout/BaseLayout.tsx
  packages/client/src/layouts/base-layout/ui/BaseLayout/index.ts
  packages/client/src/layouts/base-layout/ui/index.ts
  packages/client/src/shared/components/ui/BaseAlert/BaseAlert.tsx
  packages/client/src/shared/components/ui/BaseAlert/index.ts
  packages/client/src/shared/components/ui/BaseNavbar/BaseNavbar.tsx
  packages/client/src/shared/components/ui/BaseNavbar/index.ts
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/types.ts
  packages/client/src/shared/styleMui/index.ts
  packages/client/src/widgets/base-layout/navbar/NavbarWidget/NavbarWidget.tsx
  packages/client/src/widgets/base-layout/navbar/NavbarWidget/index.ts
  packages/client/src/widgets/base-layout/navbar/index.ts
Due: lint:eslint, lint:stylelint

feature/cfg-16
  packages/client/package.json
  packages/client/src/app/styles/global.module.scss
  packages/client/src/feature/base-layout/navbar/index.ts
  packages/client/src/feature/base-layout/navbar/ui/NavbarFeature/NavbarFeature.tsx
  packages/client/src/feature/base-layout/navbar/ui/NavbarFeature/index.ts
  packages/client/src/feature/base-layout/navbar/ui/NavbarLink/NavbarLink.tsx
  packages/client/src/feature/base-layout/navbar/ui/NavbarLink/index.ts
  packages/client/src/layouts/base-layout/ui/BaseLayout/BaseLayout.tsx
  packages/client/src/pages/index.tsx
  packages/client/src/shared/styleMui/index.ts
  packages/client/src/widgets/base-layout/footer/FooterWidget/FooterWidget.module.scss
  packages/client/src/widgets/base-layout/footer/FooterWidget/FooterWidget.tsx
  packages/client/src/widgets/base-layout/footer/FooterWidget/index.ts
  packages/client/src/widgets/base-layout/navbar/index.ts
  packages/client/src/widgets/base-layout/navbar/ui/NavbarWidget/NavbarWidget.tsx
  packages/client/src/widgets/base-layout/navbar/ui/NavbarWidget/index.ts
Due: lint:eslint, lint:stylelint

feature/cfg-16
  packages/client/src/feature/base-layout/navbar/ui/NavbarFeature/NavbarFeature.tsx
  packages/client/src/pages/index.tsx
  packages/client/src/shared/components/icons/iconsMui.ts
  packages/client/src/shared/styleMui/index.ts
  packages/client/src/widgets/base-layout/footer/FooterWidget/FooterWidget.tsx
  packages/client/src/widgets/home/index.ts
  packages/client/src/widgets/home/ui/HomeWidget/HomeWidget.module.scss
  packages/client/src/widgets/home/ui/HomeWidget/HomeWidget.tsx
  packages/client/src/widgets/home/ui/HomeWidget/index.ts
  packages/client/src/widgets/home/ui/index.ts
Due: lint:eslint, lint:stylelint

global height layout
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.module.scss
  packages/client/src/feature/game/game-engine/ui/GameMenu/GameMenu.tsx
  packages/client/src/layouts/base-layout/ui/BaseLayout/BaseLayout.module.scss
  packages/client/src/layouts/base-layout/ui/BaseLayout/BaseLayout.tsx
Due: lint:eslint, lint:stylelint

fix z
  packages/client/src/shared/styleMui/index.ts
Due: lint:eslint

add login button
  packages/client/src/feature/base-layout/navbar/ui/NavbarFeature/NavbarFeature.tsx
  packages/client/src/shared/components/icons/iconsMui.ts
Due: lint:eslint

update image
  packages/client/src/assets/images/bg.png
  packages/client/src/widgets/home/ui/HomeWidget/HomeWidget.tsx
Due: lint:eslint

add image
  packages/client/src/assets/images/bg.png
  packages/client/src/assets/images/login-background.png
  packages/client/src/widgets/game/game-engine/ui/GameEngineWidget/GameEngineWidget.tsx
  packages/client/src/widgets/session/login/ui/LoginWidget/LoginWidget.tsx
  packages/client/src/widgets/session/register/ui/RegisterWidget/RegisterWidget.tsx
Due: lint:eslint

update image
  packages/client/src/assets/images/bg.png
Due: none

return menu game
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/game/ui/GameEntities/GameEntities.tsx
  packages/client/src/feature/game/game-engine/hooks/useGame.tsx
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.module.scss
  packages/client/src/feature/game/game-engine/ui/GameEngineFeature/GameEngineFeature.tsx
Due: lint:eslint, lint:stylelint

update readme
  README.md
Due: none

Механика игры
  .eslintrc.js
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/game/index.ts
  packages/client/src/entities/game/utils/Сollision.ts
  packages/client/src/entities/images/car.png
  packages/client/src/entities/images/explosion.png
  packages/client/src/entities/images/player.png
  packages/client/src/entities/images/taxi.png
  packages/client/src/entities/images/truck.png
  packages/client/src/entities/input-handler/index.ts
  packages/client/src/entities/load/index.ts
  packages/client/src/entities/player/index.ts
  packages/client/src/entities/road/index.ts
  packages/client/src/entities/sprite-animation/index.ts
  packages/client/src/entities/sprite-image/index.ts
  packages/client/src/entities/types/types.ts
  packages/client/src/entities/vehicle/index.ts
Due: lint:eslint

add links
  README.md
Due: none

getting user from store added
  packages/client/src/feature/profile/hooks/useProfile.ts
  packages/client/src/feature/profile/ui/ProfileFeature/ProfileFeature.tsx
  packages/client/src/feature/profile/ui/ProfileFields/ProfileFields.tsx
Due: lint:eslint

redux profileApi was added
  packages/client/src/entities/profile/model/index.ts
  packages/client/src/feature/profile/api/profileApi.ts
  packages/client/src/feature/profile/hooks/useProfilePassword.ts
  packages/client/src/shared/api/types/index.ts
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/types.ts
Due: lint:eslint

add basealert
  packages/client/src/app/router/hooks/useAuth.tsx
  packages/client/src/entities/user/model/index.ts
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.tsx
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
Due: lint:eslint

add globalerrorwrapper
  packages/client/src/app/App/App.tsx
  packages/client/src/app/router/hooks/useAuth.tsx
  packages/client/src/entities/error/index.ts
  packages/client/src/feature/profile/hooks/useProfileAvatar.ts
  packages/client/src/feature/profile/hooks/useProfilePassword.ts
  packages/client/src/feature/profile/ui/ProfileAvatarGroup/ProfileAvatarGroup.tsx
  packages/client/src/feature/session/login/hooks/useLogin.tsx
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.tsx
  packages/client/src/feature/session/register/hooks/useRegister.tsx
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/shared/context/global-error-wrapper/GlobalErrorWrapper.tsx
  packages/client/src/shared/context/global-error-wrapper/index.ts
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/types.ts
Due: lint:eslint

Доработка механики
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
  packages/client/src/entities/game/index.ts
  packages/client/src/entities/game/ui/GameEntities/GameEntities.module.scss
  packages/client/src/entities/game/utils/Сollision.ts
  packages/client/src/entities/images/car.png
  packages/client/src/entities/images/player.png
  packages/client/src/entities/images/road.png
  packages/client/src/entities/images/taxi.png
  packages/client/src/entities/player/index.ts
  packages/client/src/entities/road/index.ts
  packages/client/src/entities/sprite-animation/index.ts
  packages/client/src/entities/sprite-image/index.ts
  packages/client/src/entities/vehicle/index.ts
Due: lint:eslint, lint:stylelint

Path conditions:
  lint:eslint: any of: *.{ts,tsx}
  lint:stylelint: any of: *.{css,module.scss}
