Repository DmitriyBrewer/CodersForceGame: changes, and which lefthook commands are due for each by the changed paths.
All: lint:eslint, lint:stylelint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:eslint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    lint:stylelint:
      glob: '*.{scss,css}'
      run: yarn stylelint {staged_files}
    prettier:
      glob: '*.{ts,tsx,css,scss}'
      run: yarn prettier -w {staged_files}
      stage_fixed: true

удаление package-lock.json
  package-lock.json
  package.json
  yarn.lock
Due: none

решение совместимости версий зависимостей
  package.json
  yarn.lock
Due: none

add router
  package-lock.json
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/app/App/App.css
  packages/client/src/app/App/App.test.tsx
  packages/client/src/app/App/App.tsx
  packages/client/src/app/router/PrivateRoute.tsx
  packages/client/src/app/router/PublicRoute.tsx
  packages/client/src/app/router/router.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/404.tsx
  packages/client/src/pages/500.tsx
  packages/client/src/pages/Forum.tsx
  packages/client/src/pages/ForumTopic.tsx
  packages/client/src/pages/Game.tsx
  packages/client/src/pages/Leaderboard.tsx
  packages/client/src/pages/Login.tsx
  packages/client/src/pages/Profile.tsx
  packages/client/src/pages/Register.tsx
  yarn.lock
Due: lint:eslint, lint:stylelint, prettier

commented test
  packages/client/src/app/App/App.test.tsx
Due: lint:eslint, prettier

fix types
  packages/client/src/app/App/App.tsx
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/app/router/PrivateRoute.tsx
  packages/client/src/app/router/PublicRoute.tsx
Due: lint:eslint, prettier

feature/cfg-34
  packages/client/src/shared/components/ui/BaseButton/BaseButton.spec.tsx
  packages/client/src/shared/components/ui/BaseButton/BaseButton.tsx
  packages/client/src/shared/components/ui/BaseButton/index.ts
  packages/client/src/shared/components/ui/index.ts
Due: lint:eslint, prettier

feature/cfg-34
  packages/client/src/App.tsx
  packages/client/src/shared/components/ui/BaseButton/index.ts
  packages/client/vite.config.ts
Due: lint:eslint, prettier

feature/cfg-34 Поставить библиотеку MUI (#9)
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/shared/components/ui/BaseButton/BaseButton.spec.tsx
  packages/client/src/shared/components/ui/BaseButton/BaseButton.tsx
  packages/client/src/shared/components/ui/BaseButton/index.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  yarn.lock
Due: lint:eslint, prettier

fix review
  packages/client/src/app/App/App.test.tsx
  packages/client/src/app/App/App.tsx
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/shared/config/routing.ts
Due: lint:eslint, prettier

feature/cfg-33
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .prettierrc
  .stylelintignore
  .stylelintrc.js
  .stylelintrc.json
  lefthook.yml
  package.json
  packages/client/package.json
  packages/client/src/App.test.tsx
  packages/client/src/App.tsx
  packages/client/src/client.d.ts
  packages/client/src/main.tsx
  packages/server/__tests__/example.test.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/jest.config.js
  packages/server/package.json
  yarn.lock
Due: lint:eslint, prettier

reinstall lock
  yarn.lock
Due: none

feature/cfg-15 Отображение страниц, используя React Router и React Router DOM (#11)
  package-lock.json
  packages/client/package.json
  packages/client/src/app/App/App.css
  packages/client/src/app/App/App.test.tsx
  packages/client/src/app/App/App.tsx
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/app/router/PrivateRoute.tsx
  packages/client/src/app/router/PublicRoute.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/404.tsx
  packages/client/src/pages/500.tsx
  packages/client/src/pages/Forum.tsx
  packages/client/src/pages/ForumTopic.tsx
  packages/client/src/pages/Game.tsx
  packages/client/src/pages/Leaderboard.tsx
  packages/client/src/pages/Login.tsx
  packages/client/src/pages/Profile.tsx
  packages/client/src/pages/Register.tsx
  packages/client/src/shared/config/routing.ts
  yarn.lock
Due: lint:eslint, lint:stylelint, prettier

merge
  package-lock.json
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/shared/components/ui/BaseButton/BaseButton.spec.tsx
  packages/client/src/shared/components/ui/BaseButton/BaseButton.tsx
  packages/client/src/shared/components/ui/BaseButton/index.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  yarn.lock
Due: lint:eslint, prettier

merge
  .stylelintrc.js
  packages/client/package.json
  packages/client/src/app/App/App.css
  packages/client/src/app/App/App.module.scss
  yarn.lock
Due: lint:stylelint, prettier

Правки линтера
  packages/client/src/app/App/App.tsx
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/app/router/PrivateRoute.tsx
  packages/client/src/app/router/PublicRoute.tsx
Due: lint:eslint, prettier

Настройка удаления запятой последнего элемента
  .prettierrc
  packages/client/jest.config.js
  packages/client/src/main.tsx
  packages/client/src/shared/config/routing.ts
  packages/client/vite.config.ts
  packages/server/db.ts
  packages/server/jest.config.js
Due: lint:eslint, prettier

merge
  packages/client/src/App.tsx
Due: lint:eslint, prettier

feature/cfg-49 + fix server lint
  .eslintrc.js
  packages/client/package.json
  packages/client/src/pages/404.module.scss
  packages/client/src/pages/404.tsx
  yarn.lock
Due: lint:eslint, lint:stylelint, prettier

stylelint rules
  .stylelintrc.js
Due: none

feature/cfg-50
  lerna-debug.log
  packages/client/package.json
  packages/client/src/app/App/App.module.scss
  packages/client/src/app/App/App.tsx
  packages/client/src/index.css
  packages/client/src/pages/404.module.scss
  yarn.lock
Due: lint:eslint, lint:stylelint, prettier

fix css
  packages/client/src/main.tsx
Due: lint:eslint, prettier

fix stylelint deps
  packages/client/package.json
  yarn.lock
Due: none

feature/cfg-50
  lerna-debug.log
Due: none

feature/cfg-52
  packages/client/src/pages/Register.tsx
  packages/client/src/shared/components/ui/BaseBox/BaseBox.spec.tsx
  packages/client/src/shared/components/ui/BaseBox/BaseBox.tsx
  packages/client/src/shared/components/ui/BaseBox/index.ts
  packages/client/src/shared/components/ui/BasePaper/BasePaper.spec.tsx
  packages/client/src/shared/components/ui/BasePaper/BasePaper.tsx
  packages/client/src/shared/components/ui/BasePaper/index.ts
  packages/client/src/shared/components/ui/BaseTextField/BaseTextField.spec.tsx
  packages/client/src/shared/components/ui/BaseTextField/BaseTextField.tsx
  packages/client/src/shared/components/ui/BaseTextField/index.ts
  packages/client/src/shared/components/ui/BaseTypography/BaseTypography.spec.tsx
  packages/client/src/shared/components/ui/BaseTypography/BaseTypography.tsx
  packages/client/src/shared/components/ui/BaseTypography/index.ts
Due: lint:eslint, prettier

feature/cfg-52
  packages/client/src/App.tsx
  packages/client/src/app/App/App.module.scss
  packages/client/src/app/App/index.ts
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/Register.tsx
  packages/client/src/pages/register/Register/Register.module.scss
  packages/client/src/pages/register/Register/Register.tsx
  packages/client/src/pages/register/Register/index.ts
Due: lint:eslint, lint:stylelint, prettier

add ui add var
  packages/client/src/app/App/App.module.scss
  packages/client/src/app/App/App.tsx
  packages/client/src/global.module.scss
  packages/client/src/main.tsx
  packages/client/src/pages/register/Register/Register.module.scss
  packages/client/src/pages/register/Register/Register.tsx
  packages/client/src/shared/components/ui/BaseContainer/BaseContainer.spec.tsx
  packages/client/src/shared/components/ui/BaseContainer/BaseContainer.tsx
  packages/client/src/shared/components/ui/BaseContainer/index.ts
  packages/client/src/shared/components/ui/BasePaper/BasePaper.tsx
Due: lint:eslint, lint:stylelint, prettier

feature/cfg-52
  packages/client/src/pages/register/Register/Register.tsx
Due: lint:eslint, prettier

feature/cfg-52
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/app/styles/global.module.scss
  packages/client/src/main.tsx
  packages/client/src/pages/register/Register/Register.module.scss
Due: lint:eslint, lint:stylelint, prettier

other
  packages/client/src/app/App/App.test.tsx
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/app/styles/global.module.scss
  packages/client/src/feature/session/register/hooks/useRegister.tsx
  packages/client/src/feature/session/register/index.ts
  packages/client/src/feature/session/register/types/index.ts
  packages/client/src/feature/session/register/ui/PasswordInput/PasswordInput.tsx
  packages/client/src/feature/session/register/ui/PasswordInput/index.ts
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.module.scss
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/feature/session/register/ui/RegisterFeature/index.ts
  packages/client/src/feature/session/register/ui/index.ts
  packages/client/src/pages/register/Register/Register.tsx
  packages/client/src/pages/register/Register/index.ts
  packages/client/src/pages/session/register/index.tsx
  packages/client/src/pages/session/register/ui/index.tsx
  packages/client/src/shared/components/ui/BaseIconButton/BaseIconButton.spec.tsx
  packages/client/src/shared/components/ui/BaseIconButton/BaseIconButton.tsx
  packages/client/src/shared/components/ui/BaseIconButton/index.ts
  packages/client/src/shared/components/ui/BasePaper/BasePaper.tsx
  packages/client/src/widgets/session/register/index.ts
  packages/client/src/widgets/session/register/ui/RegisterWidget/RegisterWidget.tsx
  packages/client/src/widgets/session/register/ui/RegisterWidget/index.ts
  packages/client/src/widgets/session/register/ui/index.ts
Due: lint:eslint, lint:stylelint, prettier

paper polymorhic
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/shared/components/ui/BasePaper/BasePaper.tsx
  packages/client/src/shared/components/ui/BasePaperPolymorphic/BasePaperPolymorphic.spec.tsx
  packages/client/src/shared/components/ui/BasePaperPolymorphic/BasePaperPolymorphic.tsx
  packages/client/src/shared/components/ui/BasePaperPolymorphic/index.ts
Due: lint:eslint, prettier

other
  packages/client/src/feature/session/register/ui/PasswordInput/index.ts
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/feature/session/register/ui/RegisterForm/RegisterForm.module.scss
  packages/client/src/feature/session/register/ui/RegisterForm/RegisterForm.tsx
  packages/client/src/feature/session/register/ui/RegisterForm/index.ts
  packages/client/src/feature/session/register/ui/RegisterPasswordInput/RegisterPasswordInput.tsx
  packages/client/src/feature/session/register/ui/RegisterPasswordInput/index.ts
Due: lint:eslint, lint:stylelint, prettier

add text input
  packages/client/src/feature/session/register/types/index.ts
  packages/client/src/feature/session/register/ui/RegisterForm/RegisterForm.tsx
  packages/client/src/feature/session/register/ui/RegisterPasswordInput/RegisterPasswordInput.tsx
  packages/client/src/feature/session/register/ui/RegisterTextInput/RegisterTextInput.tsx
  packages/client/src/feature/session/register/ui/RegisterTextInput/index.ts
Due: lint:eslint, prettier

other
  packages/client/src/feature/session/register/types/index.ts
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/feature/session/register/ui/RegisterPasswordInput/RegisterPasswordInput.tsx
  packages/client/src/feature/session/register/ui/RegisterTextInput/RegisterTextInput.tsx
Due: lint:eslint, prettier

add field
  .eslintrc.js
  packages/client/src/feature/session/register/hoc/withInputProps.tsx
  packages/client/src/feature/session/register/hoc/withRegisterProps.tsx
  packages/client/src/feature/session/register/types/index.ts
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/feature/session/register/ui/RegisterPhoneInput/RegisterPhoneInput.tsx
  packages/client/src/feature/session/register/ui/RegisterPhoneInput/index.ts
  packages/client/src/feature/session/register/ui/RegisterTextInput/RegisterTextInput.tsx
Due: lint:eslint, prettier

other
  packages/client/src/feature/session/register/ui/RegisterPasswordInput/RegisterPasswordInput.tsx
  packages/client/src/feature/session/register/ui/RegisterPhoneInput/RegisterPhoneInput.tsx
Due: lint:eslint, prettier

required
  packages/client/src/feature/session/register/types/index.ts
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/feature/session/register/ui/RegisterPasswordInput/RegisterPasswordInput.tsx
  packages/client/src/feature/session/register/ui/RegisterPhoneInput/RegisterPhoneInput.tsx
  packages/client/src/feature/session/register/ui/RegisterTextInput/RegisterTextInput.tsx
Due: lint:eslint, prettier

color and themeprovider
  packages/client/src/app/App/App.tsx
  packages/client/src/themes.ts
Due: lint:eslint, prettier

components update
  packages/client/src/feature/session/register/hoc/withInputProps.tsx
  packages/client/src/feature/session/register/hoc/withRegisterProps.tsx
  packages/client/src/feature/session/register/hooks/useRegister.tsx
  packages/client/src/feature/session/register/types/index.ts
  packages/client/src/feature/session/register/ui/RegisterButton/RegisterButton.tsx
  packages/client/src/feature/session/register/ui/RegisterButton/index.ts
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/feature/session/register/ui/RegisterHeader/RegisterHeader.tsx
  packages/client/src/feature/session/register/ui/RegisterHeader/index.ts
  packages/client/src/feature/session/register/ui/RegisterPasswordInput/RegisterPasswordInput.tsx
  packages/client/src/feature/session/register/ui/RegisterPhoneInput/RegisterPhoneInput.tsx
  packages/client/src/feature/session/register/ui/RegisterTextInput/RegisterTextInput.tsx
Due: lint:eslint, prettier

add icon & size
  packages/client/src/feature/session/register/hooks/useRegister.tsx
  packages/client/src/feature/session/register/types/index.ts
  packages/client/src/feature/session/register/ui/RegisterPasswordInput/RegisterPasswordInput.tsx
  packages/client/src/feature/session/register/ui/RegisterPhoneInput/RegisterPhoneInput.tsx
  packages/client/src/feature/session/register/ui/RegisterTextInput/RegisterTextInput.tsx
  packages/client/src/feature/session/register/utils/validateField.ts
  packages/client/src/shared/components/icons/iconsMui.ts
  packages/client/src/widgets/session/register/ui/RegisterWidget/RegisterWidget.tsx
Due: lint:eslint, prettier

add commnet
  .eslintrc.js
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/shared/components/icons/iconsMui.ts
Due: lint:eslint, prettier
