Repository DmitriyBrewer/CodersForceGame: changes, and which lefthook commands are due for each by the changed paths.
All: lint:eslint, lint:stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:eslint:
      glob: '*.{ts,tsx}'
      run: yarn lint:eslint
    lint:stylelint:
      glob: '*.{css,module.scss}'
      run: yarn lint:stylelint
    test:
      run: yarn test

fix fulscreen
  packages/client/src/app/router/PrivateRoute.tsx
  packages/client/src/feature/game/game-engine/hooks/useGame.tsx
Due: lint:eslint

slice game
  packages/client/src/feature/game/game-engine/model/index.ts
Due: lint:eslint

fix comments
  packages/client/src/feature/forum/hooks/useMessage.tsx
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.module.scss
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.tsx
  packages/client/src/shared/config/routing.ts
  packages/client/src/shared/utils/formatISODate.ts
  packages/client/src/widgets/forum/ui/MessageList/MessageList.module.scss
  packages/client/src/widgets/forum/ui/MessageList/MessageList.tsx
Due: lint:eslint, lint:stylelint

fix props
  packages/client/src/feature/forum/hooks/useMessage.tsx
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.tsx
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/widgets/forum/ui/MessageList/MessageList.tsx
Due: lint:eslint

Описание игрового движка
  docs/README.md
  docs/gameEngine.md
Due: none

fix again
  packages/client/src/entities/message/types/index.ts
  packages/client/src/feature/forum/hooks/useMessage.tsx
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.tsx
  packages/client/src/feature/forum/ui/CreateTopicDialog/CreateTopicDialog.module.scss
  packages/client/src/widgets/forum/ui/MessageList/MessageList.tsx
  packages/client/src/widgets/forum/ui/TopicList/TopicList.tsx
Due: lint:eslint, lint:stylelint

ref 21
  packages/client/src/app/router/AppRouter.tsx
  packages/client/src/feature/forum/ui/AddMessage/AddMessage.tsx
  packages/client/src/feature/forum/ui/AddMessage/index.ts
  packages/client/src/feature/forum/ui/MessageList/MessageList.module.scss
  packages/client/src/feature/forum/ui/MessageList/MessageList.tsx
  packages/client/src/feature/forum/ui/MessageList/index.ts
  packages/client/src/pages/Forum/index.ts
  packages/client/src/pages/ForumTopicPage/index.ts
  packages/client/src/pages/social/forum-topic/index.ts
  packages/client/src/pages/social/forum-topic/ui/index.tsx
  packages/client/src/pages/social/forum/index.ts
  packages/client/src/pages/social/forum/ui/index.tsx
  packages/client/src/widgets/forum/index.ts
  packages/client/src/widgets/social/forum-topic/index.ts
  packages/client/src/widgets/social/forum-topic/ui/ForumTopicWidget.tsx
  packages/client/src/widgets/social/forum-topic/ui/index.ts
  packages/client/src/widgets/social/forum/index.ts
  packages/client/src/widgets/social/forum/ui/AddTopicButton/AddTopicButton.tsx
  packages/client/src/widgets/social/forum/ui/AddTopicButton/index.ts
  packages/client/src/widgets/social/forum/ui/ForumWidget/ForumWidget.module.scss
  packages/client/src/widgets/social/forum/ui/ForumWidget/ForumWidget.tsx
  packages/client/src/widgets/social/forum/ui/ForumWidget/index.ts
  packages/client/src/widgets/social/forum/ui/TopicList/TopicList.module.scss
  packages/client/src/widgets/social/forum/ui/TopicList/TopicList.tsx
  packages/client/src/widgets/social/forum/ui/TopicList/index.ts
  packages/client/src/widgets/social/forum/ui/index.ts
Due: lint:eslint, lint:stylelint

delete BasePaper
  packages/client/src/shared/components/ui/BasePaper/BasePaper.spec.tsx
  packages/client/src/shared/components/ui/BasePaper/BasePaper.tsx
  packages/client/src/shared/components/ui/BasePaper/index.ts
  packages/client/src/shared/components/ui/BasePaperPolymorphic/BasePaperPolymorphic.tsx
Due: lint:eslint

update import
  packages/client/src/feature/social/forum/hooks/useMessage.tsx
  packages/client/src/feature/social/forum/index.ts
  packages/client/src/feature/social/forum/ui/AddMessage/AddMessage.module.scss
  packages/client/src/feature/social/forum/ui/AddMessage/AddMessage.tsx
  packages/client/src/feature/social/forum/ui/AddMessage/index.ts
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/CreateTopicDialog.module.scss
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/CreateTopicDialog.tsx
  packages/client/src/feature/social/forum/ui/CreateTopicDialog/index.ts
  packages/client/src/feature/social/forum/ui/MessageList/MessageList.module.scss
  packages/client/src/feature/social/forum/ui/MessageList/MessageList.tsx
  packages/client/src/feature/social/forum/ui/MessageList/index.ts
  packages/client/src/widgets/social/forum-topic/ui/ForumTopicWidget.tsx
  packages/client/src/widgets/social/forum/ui/AddTopicButton/AddTopicButton.tsx
Due: lint:eslint, lint:stylelint

update
  packages/client/src/feature/game/game-engine/hooks/useGame.tsx
  packages/client/src/feature/game/game-engine/ui/GameLeaderboardButton/GameLeaderboardButton.tsx
  packages/client/src/feature/game/game-engine/ui/GameMenu/GameMenu.tsx
Due: lint:eslint

update stop && pause
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
Due: lint:eslint

delete empty
  packages/client/src/feature/game/game-engine/model/index.ts
Due: lint:eslint

add register logic
  packages/client/src/entities/user/model/index.ts
  packages/client/src/entities/user/types/index.ts
  packages/client/src/feature/session/api/authApi.ts
  packages/client/src/feature/session/register/hooks/useRegister.tsx
  packages/client/src/feature/session/register/types/index.ts
  packages/client/src/shared/store/index.ts
Due: lint:eslint

fix error message
  packages/client/src/feature/session/register/hooks/useRegister.tsx
  packages/client/src/feature/session/register/types/index.ts
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/types.ts
Due: lint:eslint

Перенос переиспользуемых компонентов регистрации и авторизации в shared
  .eslintrc.js
  packages/client/src/feature/session/login/hooks/useLogin.tsx
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.module.scss
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.tsx
  packages/client/src/feature/session/login/ui/LoginForm/LoginForm.module.scss
  packages/client/src/feature/session/login/ui/LoginForm/LoginForm.tsx
  packages/client/src/feature/session/login/ui/LoginForm/index.ts
  packages/client/src/feature/session/login/ui/LoginHeader/LoginHeader.module.scss
  packages/client/src/feature/session/login/ui/LoginHeader/index.ts
  packages/client/src/feature/session/register/ui/RegisterButton/index.ts
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/feature/session/register/ui/RegisterForm/RegisterForm.module.scss
  packages/client/src/feature/session/register/ui/RegisterForm/index.ts
  packages/client/src/feature/session/register/ui/RegisterHeader/RegisterHeader.tsx
  packages/client/src/feature/session/register/ui/RegisterHeader/index.ts
  packages/client/src/feature/session/register/ui/RegisterPasswordInput/index.ts
  packages/client/src/feature/session/register/ui/RegisterPhoneInput/index.ts
  packages/client/src/feature/session/register/ui/RegisterTextInput/index.ts
  packages/client/src/shared/components/core/BackgroundWrapper/BackgroundWrapper.tsx
  packages/client/src/shared/components/core/FormData/FormData.tsx
  packages/client/src/shared/components/core/FormData/constant/index.ts
  packages/client/src/shared/components/core/FormData/hooks/useFormData.tsx
  packages/client/src/shared/components/core/FormData/index.ts
  packages/client/src/shared/components/core/FormData/model/validateField.ts
  packages/client/src/shared/components/core/FormData/types/index.ts
  packages/client/src/shared/components/core/Header/Header.tsx
  packages/client/src/shared/components/core/Header/index.ts
  packages/client/src/shared/components/core/PasswordInput/PasswordInput.tsx
  packages/client/src/shared/components/core/PasswordInput/index.ts
  packages/client/src/shared/components/core/PhoneInput/PhoneInput.tsx
  packages/client/src/shared/components/core/PhoneInput/index.ts
  packages/client/src/shared/components/core/SubmitButton/SubmitButton.tsx
  packages/client/src/shared/components/core/SubmitButton/index.ts
  packages/client/src/shared/components/core/TextInput/TextInput.tsx
  packages/client/src/shared/components/core/TextInput/index.ts
Due: lint:eslint, lint:stylelint

fix some problems
  packages/client/src/app/router/PrivateRoute.tsx
  packages/client/src/app/router/hooks/useAuth.tsx
  packages/client/src/entities/user/model/index.ts
  packages/client/src/feature/session/register/hooks/useRegister.tsx
Due: lint:eslint

fix imports
  packages/client/package.json
Due: none

fix one more
  .eslintrc.js
  yarn.lock
Due: none

feature/cfg-65
  packages/client/src/entities/game/hooks/useCanvasAnimation.ts
Due: lint:eslint

Правки
  packages/client/src/feature/session/login/hooks/useLogin.tsx
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.tsx
  packages/client/src/feature/session/register/hooks/useRegister.tsx
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/shared/components/core/FormData/hooks/useFormData.tsx
Due: lint:eslint

fix hook
  packages/client/src/feature/session/login/hooks/useLogin.tsx
  packages/client/src/feature/session/login/ui/LoginFeature/LoginFeature.tsx
  packages/client/src/feature/session/register/hooks/useRegister.tsx
  packages/client/src/feature/session/register/ui/RegisterFeature/RegisterFeature.tsx
  packages/client/src/shared/components/constant/index.ts
  packages/client/src/shared/components/core/FormData/hooks/useFormData.tsx
  packages/client/src/shared/components/core/FormData/model/validateField.ts
  packages/client/src/shared/components/core/FormData/types/index.ts
  packages/client/src/shared/components/core/PasswordInput/PasswordInput.tsx
  packages/client/src/shared/components/core/PhoneInput/PhoneInput.tsx
  packages/client/src/shared/components/core/TextInput/TextInput.tsx
  packages/client/src/shared/types/index.ts
Due: lint:eslint

delete unused types
  packages/client/src/feature/session/register/types/index.ts
Due: lint:eslint

add login
  packages/client/src/feature/session/api/authApi.ts
  packages/client/src/feature/session/login/hooks/useLogin.tsx
  packages/client/src/feature/session/login/types/index.ts
  packages/client/src/feature/session/register/hooks/useRegister.tsx
Due: lint:eslint

fix login
  packages/client/src/entities/user/model/index.ts
  packages/client/src/feature/session/login/hooks/useLogin.tsx
  packages/client/src/feature/session/login/types/index.ts
  packages/client/src/feature/session/register/types/index.ts
Due: lint:eslint

customBaseQuery
  packages/client/src/app/router/PublicRoute.tsx
  packages/client/src/app/router/hooks/usePublicAuth.tsx
  packages/client/src/feature/session/api/authApi.ts
  packages/client/src/feature/session/login/hooks/useLogin.tsx
  packages/client/src/feature/session/login/types/index.ts
  packages/client/src/feature/session/register/types/index.ts
Due: lint:eslint

profile avatar upload was added
  packages/client/src/feature/profile/api/profileApi.ts
  packages/client/src/feature/profile/hooks/useProfile.ts
  packages/client/src/feature/profile/hooks/useProfileAvatar.ts
  packages/client/src/feature/profile/model/profileModel.ts
  packages/client/src/feature/profile/ui/ProfileAvatar/ProfileAvatar.tsx
  packages/client/src/feature/profile/ui/ProfileAvatar/index.ts
  packages/client/src/feature/profile/ui/ProfileAvatarButton/ProfileAvatarButton.tsx
  packages/client/src/feature/profile/ui/ProfileAvatarButton/index.ts
  packages/client/src/feature/profile/ui/ProfileAvatarForm/ProfileAvatarForm.tsx
  packages/client/src/feature/profile/ui/ProfileAvatarForm/index.ts
  packages/client/src/feature/profile/ui/ProfileAvatarGroup/ProfileAvatarGroup.tsx
  packages/client/src/feature/profile/ui/ProfileAvatarGroup/index.ts
  packages/client/src/feature/profile/ui/ProfileFeature/ProfileFeature.tsx
  packages/client/src/feature/profile/ui/ProfileFeature/index.ts
  packages/client/src/feature/profile/ui/ProfileFields/ProfileFields.tsx
  packages/client/src/feature/profile/ui/ProfileFields/index.ts
  packages/client/src/feature/profile/ui/ProfileFileInput/ProfileFileInput.tsx
  packages/client/src/feature/profile/ui/ProfileFileInput/index.ts
  packages/client/src/feature/profile/ui/ProfileForm/ProfileFrom.tsx
  packages/client/src/feature/profile/ui/ProfileForm/index.ts
  packages/client/src/feature/profile/ui/ProfilePassword/ProfilePassword.tsx
  packages/client/src/feature/profile/ui/ProfilePassword/index.ts
  packages/client/src/feature/profile/ui/index.ts
  packages/client/src/pages/profile/ui/index.tsx
  packages/client/src/shared/api/fetchInstance.ts
  packages/client/src/shared/components/ui/BaseAvatar/BaseAvatar.spec.tsx
  packages/client/src/shared/components/ui/BaseAvatar/BaseAvatar.tsx
  packages/client/src/shared/components/ui/BaseAvatar/index.ts
  packages/client/src/shared/components/ui/BaseInput/BaseInput.spec.tsx
  packages/client/src/shared/components/ui/BaseInput/BaseInput.tsx
  packages/client/src/shared/components/ui/BaseInput/index.ts
  packages/client/src/widgets/profile/ui/ProfileWidget.tsx
  packages/client/src/widgets/profile/ui/index.ts
  packages/client/src/widgets/profileWidget/ui/ProfileWidget.tsx
  packages/client/src/widgets/profileWidget/ui/index.ts
Due: lint:eslint

todo added
  packages/client/src/feature/profile/hooks/useProfile.ts
Due: lint:eslint

add loader
  packages/client/src/app/router/PrivateRoute.module.scss
  packages/client/src/app/router/PrivateRoute.tsx
  packages/client/src/app/router/PublicRoute.tsx
  packages/client/src/app/router/hooks/usePublicAuth.tsx
  packages/client/src/feature/session/login/hooks/useLogin.tsx
Due: lint:eslint, lint:stylelint

fix again
  packages/client/src/app/router/PrivateRoute.module.scss
Due: lint:stylelint

add check
  packages/client/src/feature/session/api/authApi.ts
Due: lint:eslint

fix error
  packages/client/src/feature/session/api/authApi.ts
Due: lint:eslint

move routes from dev
  packages/client/src/app/router/AppRouter.tsx
Due: lint:eslint

change password form added
  packages/client/src/feature/profile/hooks/useProfilePassword.ts
  packages/client/src/feature/profile/ui/ProfilePassword/ProfilePassword.tsx
Due: lint:eslint

fix error again
  packages/client/src/app/router/PublicRoute.module.scss
  packages/client/src/app/router/PublicRoute.tsx
  packages/client/src/app/router/hooks/usePublicAuth.tsx
  packages/client/src/feature/session/api/authApi.ts
  packages/client/src/feature/session/login/hooks/useLogin.tsx
Due: lint:eslint, lint:stylelint

types moved; todo added
  packages/client/src/feature/profile/api/profileApi.ts
  packages/client/src/feature/profile/hooks/useProfile.ts
  packages/client/src/feature/profile/hooks/useProfileAvatar.ts
  packages/client/src/feature/profile/hooks/useProfilePassword.ts
  packages/client/src/feature/profile/model/profileModel.ts
  packages/client/src/feature/profile/types/index.ts
  packages/client/src/feature/profile/ui/ProfileAvatar/ProfileAvatar.tsx
  packages/client/src/feature/profile/ui/ProfileAvatarForm/ProfileAvatarForm.tsx
  packages/client/src/feature/profile/ui/ProfileAvatarGroup/ProfileAvatarGroup.tsx
  packages/client/src/feature/profile/ui/ProfileFields/ProfileFields.tsx
  packages/client/src/feature/profile/ui/ProfilePassword/ProfilePassword.tsx
  packages/client/src/feature/profile/ui/index.ts
  packages/client/src/shared/api/fetchInstance.ts
  packages/client/src/widgets/profile/ui/ProfileWidget.tsx
Due: lint:eslint

fixed after review
  packages/client/src/feature/profile/api/profileApi.ts
  packages/client/src/feature/profile/hooks/useProfile.ts
  packages/client/src/feature/profile/hooks/useProfileAvatar.ts
  packages/client/src/feature/profile/hooks/useProfilePassword.ts
  packages/client/src/feature/profile/types/index.ts
  packages/client/src/feature/profile/ui/ProfileAvatarForm/ProfileAvatarForm.tsx
  packages/client/src/feature/profile/ui/ProfileAvatarGroup/ProfileAvatarGroup.tsx
  packages/client/src/feature/profile/ui/ProfileFields/ProfileFields.tsx
  packages/client/src/feature/profile/ui/ProfilePassword/ProfilePassword.tsx
  packages/client/src/shared/api/fetchInstance.ts
  packages/client/src/shared/api/types/index.ts
  packages/client/src/shared/components/ui/BaseSnackbar/BaseSnackbar.tsx
  packages/client/src/shared/components/ui/BaseSnackbar/index.ts
Due: lint:eslint

unused prop was removed
  packages/client/src/feature/profile/ui/ProfileAvatarGroup/ProfileAvatarGroup.tsx
Due: lint:eslint

copy SW was added
  packages/client/src/app/service-worker/serviceWorker.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint:eslint
